$body-background-color: #EAEFF6;
$body-glow-color : #C8DCED;

$text-color : black;
$secondary-text-color : #7D7D7D;
$weak-text-color : #9D9E9F;

$link-color : #2c95dd;

$border-color : #D0D0D0;

$element-background: white;

$button-background-color : white;

$header-border-color : #bebfc9;
$subheader-border-color : #D1D4D7;
$guts-border-color : #CCD2D7;
$pagination-border-color: #A4A6A8;

$administrator-background-color: #B1DBAF;

// TODO Change these colors or the references to them
$card-background: $element-background;
$card-border-color: $border-color;