// Dimensions
$sidebar-width : 250px;
$page-min-width : 750px;

// Colors
//
$body-background-color: #EAEFF6;
$body-glow-color : #C8DCED;
$shaded-background-color: #E1E5E9;

$text-color : black;
$dark-text-color : #5f5f5f;
$secondary-text-color : #7D7D7D;
$weak-text-color : #959595;

$link-color : #2c95dd;
$weak-link-color: #4e85c1;

$element-background: white;
$button-background-color : white;

$border-color : #D0D0D0;
$header-border-color : #bebfc9;
$subheader-border-color : #D1D4D7;
$guts-border-color : #CCD2D7;
$pagination-border-color: #A4A6A8;
$menu-border-color: #B0B0B0;
$header-border-color: #8A97A2;

$administrator-background-color: #B1DBAF;

// TODO Change these colors or the references to them
$card-background: $element-background;
$card-border-color: $border-color;

// Font weights
$semibold: 600;

// Mixins

@mixin after-clearfix {
    &:after {
            content: ".";
            display: block;
            height: 0;
            font-size: 0;
            clear: both;
            visibility: hidden;
        }
}

@mixin borderbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
};

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
