@import "_common.scss";

$image-gutter: 8px;
$text-padding-y: 4px;
$comment-padding-x: 6px;
$activity-gutter: 8px;
$comment-gutter: 10px;
$system-action-color: #7C7D7D;


.activity_list{
    padding-top: 4 * $text-padding-y;

    .heading {
        padding-right: $comment-padding-x;
        padding-bottom: $text-padding-y;
        padding-left: 2 * $image-gutter;
    }
    
    .order {
        float: right;
        font-size: 12px;
        font-weight: $semibold;
        line-height: 24px;
        .order_by {
            color: $dark-text-color;
        }
    }

    h1 {
        font-size: 24px;
        font-weight: $semibold;
    }
    
    ul.activities {
        .activity_list_item {
            padding: $activity-gutter 0 0 0;
        }

        .activity_item {
            position: relative;
            padding-left: 2 * $image-gutter;
            
            div.icon {
                position: absolute;
                top: 0;
                bottom: 0;
            }

            div.activity_content {
                padding-right: $comment-padding-x;
            }

            img {
                width: $icon-image-width;
                height: $icon-image-height;
                margin-right: $image-gutter;
                display: inline-block;
            }

            .activity_header {
                font-size: 14px;
                padding-bottom: $text-padding-y;
                color: $secondary-text-color;
                .author {
                    font-weight: $semibold;
                }
                .object {
                    color: $system-action-color;
                }
            }

            .body {
                font-size: 13px;
                padding-bottom: $text-padding-y;
                word-wrap: break-word;
            }

            .timestamp {
                font-size: 12px;
                color: $secondary-text-color;
            }

            .links {
                padding: 4px 0;
                font-size: 12px;
                padding-bottom: $text-padding-y;
            }
        }

        .comments {
            background : $shaded-background-color;
            padding: $activity-gutter 0 $activity-gutter $image-gutter;


            > li {
                position: relative;
                padding-bottom: (2 * $activity-gutter);
                padding-left: 0;

                .author{
                    font-size: 14px;
                    font-weight: $semibold;
                }
            }

            li.more {
                display: none;
            }

            .morelinks {
                margin-top: -$activity-gutter;
                a {
                    font-size: 12px;

                    &.less {
                        display: none;
                    }
                }
            }

            &.more {
                li.more {
                    display: block;
                }

                .morelinks {
                    a.less {
                        display: inline;
                    }
                }

                a.more {
                    display: none;
                }
            }
        }

    }


    .activity_content, .comment_content {
        margin-left: $icon-image-width + $image-gutter;
    }


    .more_activities {
        font-size: 12px;
        padding: (2 * $text-padding-y) (2 * $image-gutter);
    }
}

#sidebar .activity_list {
    .heading {
        padding-left: 0;

        h1 {
            font-size: 16px;
            color: $dark-text-color;
            padding-top: 12px;
        }
    }

    .comments {
        margin: $comment-gutter 0;
    }

    .object, .workspace, .order {
        display: none;
    }

    .activity > .activity_item {
        padding-left: $image-gutter;
    }
}

.activity_list.workfile_detail, .activity_list.dashboard {
    .comments {
        margin: $text-padding-y $comment-gutter $text-padding-y ($icon-image-width + (3 * $image-gutter));
    }

    ul.activities {
        > li {
            border-bottom: 1px dotted $list-border-color;
            padding-bottom: $text-padding-y;
        }
    }
}

.activity_list.dashboard {
    padding-top: 0;
    
    .heading {
        display: none;
    }
}

#sidebar .activity_list  {
    li[data-activity-type=WORKSPACE_CREATED],
    li[data-activity-type=WORKSPACE_DELETED],
    li[data-activity-type=WORKFILE_CREATED],
    li[data-activity-type=WORKSPACE_MAKE_PRIVATE],
    li[data-activity-type=WORKSPACE_MAKE_PUBLIC],
    li[data-activity-type=WORKSPACE_ARCHIVED],
    li[data-activity-type=WORKSPACE_UNARCHIVED],
    li[data-activity-type=USER_ADDED],
    li[data-activity-type=USER_DELETED] {
        .object, .order {
            display: inline;
        }
    }

    li[data-activity-type=MEMBERS_ADDED],
    li[data-activity-type=MEMBERS_DELETED] {
        .object, .order, .workspace {
            display: inline;
        }
    }
}

#sidebar.user_show_sidebar {
    li[data-activity-type=WORKFILE_CREATED] {
        .workspace {
            display: inline;
        }
    }
}

