@import "_common.scss";

$image-gutter: 8px;
$text-padding-y: 4px;
$comment-padding-x: 6px;
$activity-gutter: 8px;
$media-gutter: 10px;
$system-action-color: #7C7D7D;

.media, .media > .bd {
    overflow:hidden;
}
.media > .icon {
    float:left;
    margin-right: $image-gutter;
}
.media > .icon img{
    display:block;
}

.activity_item {
    padding: $image-gutter;
}

.activity_list{
    .heading {
        padding:  (2 * $image-gutter)  $comment-padding-x $text-padding-y (2 * $image-gutter)
    }

    .order {
        float: right;
        font-size: 12px;
        font-weight: $semibold;
        line-height: 24px;
        .order_by {
            color: $dark-text-color;
        }
    }

    h1 {
        @include heading-normal;
    }

    ul.activities {
        .activity_item {
            div.activity_content {
                padding-right: $comment-padding-x;
            }

            img {
                width: $icon-image-width;
                height: $icon-image-height;
            }

            .activity_header {
                word-wrap: break-word;
                font-size: 14px;
                padding-bottom: $text-padding-y;
                color: $secondary-text-color;
                .author {
                    font-weight: $semibold;
                }
                .object {
                    color: $system-action-color;
                }
            }

            .body {
                @include font-normal-beta;
                padding-bottom: $text-padding-y;
                word-wrap: break-word;
            }

            .timestamp {
                font-size: 12px;
                color: $secondary-text-color;
            }

            .links {
                padding: 4px 0;
                font-size: 12px;
                padding-bottom: $text-padding-y;
            }
        }

        .comments {
            background : $shaded-background-color;

            > li {
                .author{
                    font-size: 14px;
                    font-weight: $semibold;
                }
            }

            li.more {
                display: none;
            }

            .morelinks {
                padding: $activity-gutter;
                padding-top: 0;
                a {
                    font-size: 12px;

                    &.less {
                        display: none;
                    }
                }
            }

            &.more {
                li.more {
                    display: block;
                }

                .morelinks {
                    a.less {
                        display: inline;
                    }
                }

                a.more {
                    display: none;
                }
            }
        }

    }

    .more_activities {
        font-size: 12px;
        padding: (2 * $text-padding-y) (2 * $image-gutter);
    }
}

#sidebar .activity_list {
    .heading {
        padding-left: 0;

        h1 {
            font-size: 16px;
            color: $dark-text-color;
            padding-top: 12px;
        }
    }

    .object, .workspace, .order {
        display: none;
    }

}

.activity_list.workfile_detail, .activity_list.dashboard {
    .comments {
        margin: $text-padding-y $media-gutter $text-padding-y ($icon-image-width + (2 * $image-gutter));
    }

    ul.activities {
        > li {
            border-bottom: 1px dotted $list-border-color;
            padding-bottom: $text-padding-y;
            padding-left: $image-gutter
        }
    }
}

.activity_list.dashboard {
    padding-top: $image-gutter;

    .heading {
        display: none;
    }
}

#sidebar .activity_list  {
    li[data-activity-type=WORKSPACE_CREATED],
    li[data-activity-type=WORKSPACE_DELETED],
    li[data-activity-type=WORKFILE_CREATED],
    li[data-activity-type=WORKSPACE_MAKE_PRIVATE],
    li[data-activity-type=WORKSPACE_MAKE_PUBLIC],
    li[data-activity-type=WORKSPACE_ARCHIVED],
    li[data-activity-type=WORKSPACE_UNARCHIVED],
    li[data-activity-type=USER_ADDED],
    li[data-activity-type=USER_DELETED] {
        .object, .order {
            display: inline;
        }
    }

    li[data-activity-type=MEMBERS_ADDED],
    li[data-activity-type=MEMBERS_DELETED] {
        .object, .order, .workspace {
            display: inline;
        }
    }
}

#sidebar.user_show_sidebar {
    li[data-activity-type=WORKFILE_CREATED] {
        .workspace {
            display: inline;
        }
    }
}

