@import "compass/reset";
@import "_colors.scss";

*:focus {
    outline-color: $border-color;
}

a {
    color: $link-color;
    text-decoration : none;
}

body {
    color: $text-color;
    background-color: $body-background-color;
    font-family: Myriad Pro;
}

button {
    -webkit-appearance : initial;
    color: $link-color;
    border: 1px solid $border-color;
    background : $button-background-color;
    padding-left : 14px;
    padding-right : 14px;
    font-size : 9pt;
    cursor : pointer;
    outline-color: $border-color;
    &:disabled {
        color : $weak-text-color;
        cursor : initial;
    }
}