@import "_common";

div[data-page="Dashboard"] {
    $workspace-list-width: 350px;

    #left {
        margin-right: 0;
    }

    #main_content {
        @include after-clearfix();
    }

    .main_activity_list .heading {
        display: none;
    }

    .main_content.workspace_list {
        float: right;
        width: $workspace-list-width;
        font-weight: $semibold;

        .dashboard_workspace_list {
            li {
                padding-bottom : 4px;

                .comment {
                    line-height : 16px;
                    padding-top : 3px;
                    .count {
                        font-size: 13px;
                        font-weight: normal;
                        color: $link-color;
                    }

                    .date {
                        font-size: 12px;
                        font-weight: normal;
                        color: $dark-text-color;
                    }

                    .recent {
                        font-size: 12px;
                        font-weight: normal;
                        color: $dark-text-color;

                        .author {
                            font-weight: $semibold;
                        }
                    }
                }
            }

            > li:last-child {
                border-bottom:  $dotted-list-item-border;
            }
        }

        .content_footer {
            line-height : 27px;
            color: $link-color;
            border-top : none;

            a {
                padding: 0 10px;
                font-size: 12px;
                font-weight: $semibold;
            }
        }
    }

    .main_content.dashboard_main {
        margin-right:  $workspace-list-width;
    }
}