form {
    .controls {
        margin-top: 25px;

        button {
            float: right;
            margin-left: 14px;
        }
    }

    input.has_error, textarea.has_error {
        border: 1px solid red;
        background-image: url("/images/error-exclamation.png");
        background-repeat: no-repeat;
        background-position: 99%;
        padding-right: 20px;
    }

    .data-error {
        background: red;
        color: white;
    }
}

