form {
    .controls {
        margin-top: 25px;

        button {
            float: right;
            margin-left: 14px;
        }
    }

    input.has_error, textarea.has_error {
        border: 1px solid red;
    }

    .data-error {
        background: red;
        color: white;
    }
}

