@import "_common.scss";
@import "compass/css3/gradient";
@import "layout.scss";

$header-padding : 13px;
$header-item-spacing : 2*$padding-left;

.header {
    // height: 49px;
    @include linear-gradient(color-stops(#eeeeee, #cccccc));
    vertical-align : middle;
    border-bottom: 1px solid $header-border-color;
	padding: $header-padding ($guts-padding + $padding-left + 1px);

    > div {
        vertical-align: middle;
        line-height: 30px;
        > div {
            display : inline-block;
        }
    }

    .right {
        position: relative;
        float: right;
        width : $sidebar-width;
        text-align : right;
        margin : 4px 0px;
    }

    .left {
        float : left;
    }

    .logo {
        a {
            font-family: Arial;
            font-size: 18px;
            color: black;

            em {
                font-weight: bold;
                margin-left: 5px;
            }
        }
        padding-right : $header-item-spacing;
        border-right: 1px solid $header-border-color;
    }

    .messages {
        font-size: 11px;
        font-weight: 600;
        padding-left: $header-item-spacing;

        a {
            background: red;
            color: white;
            padding: 5px;
            margin-left: $padding-left;
        }
    }

    .search {
        overflow: hidden;
        padding-top: 4px;
        padding-left: $header-item-spacing;
        margin-right: 0px;
        input {
            padding: 4px;
        }
    }

    .username {
        border-right: 1px solid $header-border-color;

        a {
            span {
                display: inline-block;
                @include ellipsis;
                max-width: 140px;
            }
        }
    }

    .username, .account {
        padding: 0 $header-item-spacing;
        font-size: 11px;
        text-align: right;

        a {
            color: inherit;
            img {
                padding: 0 0 1px 10px;
            }
        }
    }

    .menu.popup_username {
        right: 75px;
        top: 42px;
    }

    .menu.popup_account {
        right: 10px;
        top: 42px;

        .pointer {
            right: 17px;
            left: auto;
        }
    }
}
