@import "_common.scss";
@import "layout/_breadcrumbs";
@import "layout/_header.scss";
@import "layout/_list.scss";
@import "layout/_list_content_details.scss";
@import "layout/_main_content.scss";
@import "layout/_sidebar.scss";
@import "layout/_sub_nav.scss";

#page {
    min-width: $page-min-width;
}

#guts {
    padding: $guts-padding;
    padding-top: 0;
    @include after-clearfix;
    z-index: $guts-z-index;
}

#left {
    margin-right: $sidebar-width + (2 * $sidebar-padding-x);
}

//hax for position fixed header
.logged_in_layout {
    > .header {
        position: fixed;
        width: 100%;
        z-index: $header-z-index;
    }

    > .breadcrumbs {
        padding-top: 50px;
    }
}