@import "_colors.scss";
@import "compass/css3/border-radius";

#guts {
    padding: 0 7px 7px 7px;

    &:after {
        content: ".";
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        visibility: hidden;
    }
}

#content_header {
    background: white;
    height: 36px;
    border-bottom: 1px solid $subheader-border-color;
    padding: 12px;
    @include border-top-radius(3px);

    h1 {
        padding-top: 18px;
        font-size: 22px;
        font-weight: 600;
    }
}

#main_content {
    float: left;
    width: 74%;
    border: 1px solid $guts-border-color;
    @include border-radius(3px);
}

#content_details {
    padding: 11px 0px 15px 10px;
    height: 6px;
    font-size: 13px;
    border-bottom: 1px solid $pagination-border-color;

    &.hidden {
        padding: 0;
        height: 0;
        border: none;
    }
}

#sidebar {
    width: 25%;
    float: right;
    text-align: center;
}
