@import "_common.scss";
@import "compass/css3/border-radius";

#page {
    min-width: $page-min-width;
}

#guts {
    padding: $guts-padding;
    padding-top: 0;
    @include after-clearfix;
}

#left {
    margin-right: $sidebar-width + (2 * $sidebar-padding-x);
}

.content_header {
    background: white;
    min-height: 36px;
    padding: 12px $padding-x;
    border-bottom: 1px solid $subheader-border-color;
    @include border-top-radius(3px);

    h1 {
        padding-top: 18px;
        font-size: 22px;
        font-weight: 600;
    }

    .icon {
        float: left;
    }
}

#main_content {
    border: 1px solid $guts-border-color;
    @include border-radius(3px);
}

.content_details, .content_footer {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 13px;
    border-bottom: 1px solid $pagination-border-color;
    padding: 0 $padding-x;

    &.hidden {
        padding: 0;
        height: 0;
        border: none;
    }
}

.content_footer {
    height: auto;
    border-bottom: none;
    border-top: 1px solid $pagination-border-color;
}

#sidebar {
    width: $sidebar-width;
    position: absolute;
    right: $guts-padding;
    padding: $padding-y $sidebar-padding-x;
}


#routes a {
 color : $secondary-text-color;
}
