@import "_common.scss";

.search_result_list {
    .details {
        @include list-section-heading;
        padding: 5px 10px;
        @include background-image(linear-gradient(#ebeef2, #d7dfe9));
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid #a4a4a4;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        
        .right {
            float: right;
            font-size: 12px;
            
            a {
                font-size: 12px;
                padding-left: 15px;
            }
        }
    }
    
    li {
        a.name {
            font-size: 18px;
        }

        img {
            vertical-align: middle;
        }

        .description {
            padding-left: 5px;
            display: inline-block;
            vertical-align: middle;


            .found_in_workspace {
                padding-top: 5px;
                font-size: 12px;
                color: $color-text2;
                line-height: 12px;

                a {
                    font-size: 12px;
                    line-height: 12px;
                    vertical-align: top;
                }
            }
        }
    }
}