@import "_common.scss";
@import "compass/css3/border-radius";

#main_content.sub_nav_content {
    border: none;
    
    #sub_nav_header {
        height: auto;
        background: transparent;
        border: none;

        .sub_nav_nav {
            margin-bottom: -1px;

            li {
                display: inline;
                float: right;
                height: 16px;
                border-left: 1px solid $guts-border-color;
                border-top: 1px solid $guts-border-color;
                border-bottom: none;
                @include border-top-left-radius(3px);
                @include border-top-right-radius(3px);
                padding: 8px 20px;

                &:first-child {
                    border-right: 1px solid $guts-border-color;
                }

                &.selected {
                    background: white;
                }
            }

            @include after-clearfix;
        }

        .sub_nav_header {
            height: 62px;
            background: white;
            border: 1px solid $guts-border-color;
            @include border-top-left-radius(3px);

            h1 {
                font-size: 24px;
                font-weight: 600;
                padding: 28px 10px;
            }
        }
    }


    #content_details {
        border-left: 1px solid $guts-border-color;
        border-right: 1px solid $guts-border-color;
    }

    #content {
        border-left: 1px solid $guts-border-color;
        border-bottom: 1px solid $guts-border-color;
        border-right: 1px solid $guts-border-color;
        @include border-bottom-radius(3px);
    }

}