@import "_common.scss";

// this 3-column layout, including the margin-bottom hack below
// was taken from http://www.alistapart.com/articles/holygrail

$left-column-width : 210px;
$right-column-width : 200px;
$column-padding-x : $padding-x;
$column-padding-y : 20px;

.user_show {
  padding-left: $left-column-width;   /* LC width */
  padding-right: $right-column-width;  /* RC width */
  overflow: hidden;

  .user_info {
    width: 100%;
    .titleAndDepartment, .emailAddress, .admin, .notes {
      padding-bottom: 20px;
    }
  }

  .edit_photo {
    width: $left-column-width - (2 * $column-padding-x);          /* LC width */
    right: $left-column-width;          /* LC width */
    padding-left:  $column-padding-x;
    padding-right: $column-padding-x;
    margin-left: -100%;

    img {
        width: $left-column-width - (4 * $column-padding-x);          /* LC width */
    }
  }

  .workspaces {
    background: $shaded-background-color;
    width: $right-column-width - (2 * $column-padding-x);          /* RC width */
    margin-right: -$right-column-width;  /* RC width */
    padding-left:  $column-padding-x;
    padding-right: $column-padding-x;
    h2 {
        font-size: 13px;
        padding-left: 2px;
        padding-bottom: 5px;
    }

    img {
        display: inline;
    }

    li a {
        line-height: 25px;
        vertical-align: bottom;
        padding-left: 5px;
    }
  }

  >div {
    padding-top:   $column-padding-y;
    position: relative;
    float: left;
    padding-bottom: 20000px + $column-padding-y;  /* X + padding-bottom */
    margin-bottom: -20000px;  /* X */
  }
}
