@import "_colors.scss";
@import "compass/css3/border-radius";

.user_set {
    ul.users li {
        margin: 11px;
        border-bottom: 1px dotted $subheader-border-color;
        &:last-child {
            border-bottom: none;
        }

        img {
            display: inline;
            width: 32px;
            height: 32px;
        }

        .fullname {
            vertical-align: top;
            padding-left: 10px;
        }

        .administrator {
            float: right;
            background: $administrator-background-color;
            padding: 2px 5px;
            font-size: 13px;
        }
    }
}