@import "_common.scss";

.user_new, .user_edit {
    padding: $padding-x;

    .errors {
        margin: -$padding-y -$padding-x;
        margin-bottom: 0;
    }

    form {
        position: relative;
        margin-bottom : 15px;
    }

    .edit_photo {
        width: 180px;
        float: left;

        img {
            padding : 5px;

        }
    }

    .fields {
        margin-left: 180px;
    }

    label, input {
        display : block;
    }

    label {
        height : 14px;

        &[for=admin-checkbox] {
            display: inline-block;
            line-height:43px;
            height : 42px;
            vertical-align : middle;
            margin-left : 3px;
        }
    }

    input {
        margin-top: 6px;
        padding-right: 20px;
        &[type=checkbox] {
            margin : 0;
            display: inline-block;
            margin-left : 2px;
            width: auto;
        }
    }
    .row {
        margin-top: 15px;

        .left {
            width: 48%;
            display: inline-block;
        }

        .right {
            float: right;
            width: 48%;
            margin-right : 10px;
        }

        &.controls {
            button {
                float: none;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.user_edit {
    .notes {
        width:100%;
    }
    .edit_photo {
        img{
        width: 150px;
        }
    }

}
