@import "_common.scss";
@import "compass/css3/border-radius";

.user_list {
    li {
        padding: $padding-y $padding-x;
    }

    img {
        display: inline;
        width: 32px;
        height: 32px;
    }

    a {
        font-size: 18px;
        span {
            display: inline-block;
            @include ellipsis;
            max-width: 68%;
        }
    }
}
