@import "_common.scss";

svg.chart {
  background: white;
  height: 340px;
  width: 925px;

  line {
    stroke-width: 0.4;
    stroke: red;
  }

  text {
    font-size: 0.5em;
  }
  path {
    fill: none;
  }

  .ytick, .xtick {
    stroke-dasharray: 1;
    stroke-width: 0.25;
    stroke: #aaa;
  }

  .axis.west .grid line {
    stroke-dasharray: 1;
    stroke-width: 0.25;
    stroke: #444;
  }

  .xaxis, .yaxis {
    stroke-width: 0.40;
    stroke: #444;
  }

  .xaxis line.grid{
        stroke-dasharray: 1;
        stroke-width: 1.0;
        stroke: #aaa;
  }

  .axis_edge line {
    stroke-width: 0.40;
    stroke: #444;
  }

  .time_series path {
    stroke-width: 0.6;
    stroke: black;
  }

  text {
    font-size: 12px;
    font-weight: $semibold;
    fill: $color-text2;
  }

  .box_plot, .boxplot, .histogram, .heatmap, .frequency, .timeseries {
    .box rect {
      fill: $chart-fill-color;
    }

    .xaxis {
      stroke-dasharray: 1;
      stroke-width: 1.0;
      stroke: #aaa;
    }

    .whisker {
      stroke: black;
      stroke-width: 1.0;
    }

    .median {
      stroke: black;
      stroke-width: 1.0;
    }

    path.series {
        stroke-width: 5.0;
        stroke: $chart-fill-color;
    }
  }

  .histogram {
    rect.bar {
      fill: $chart-fill-color;
    }
  }
}