@import "_common.scss";

ul.workfile_list {
    div.icon {
        display: inline-block;
    }

    div.details {
        display: inline-block;
        p {
            padding-left: 0;
            padding-top: 8px;
            color: $secondary-text-color;
            font-size: 14px;
        }
        a {
            font-size: 18px;
        }
    }

    li.selected {
        background: white;
    }
}