@import "_common.scss";

.workfile_list_sidebar {
    .info {
        margin: 20px 0;

        .fileName {
            @include ellipsis;
            font-size: 19px;
            color: $dark-text-color;
            font-weight: $semibold;
        }

        .updated {
            color: $weak-text-color;
            font-size: 12px;
        }
    }

    .actions {
        li {
            padding-bottom: 8px;
        }
    }
}