@import "_common.scss";

.workspace_list {
    li {
        padding: 8px;
    }

    li img {
        display: inline-block;
    }

    div.text {
        display: inline-block;
    }

    a.name {
        font-size: 20px;
    }
    .summary {
        margin-bottom: 10px;
    }
    .owner {
        font-size: 14px;
        color: $weak-text-color;
    }

    .private {
        color: $secondary-text-color;
        font-size: 14px;
        border-left: 2px solid $border-color;
        margin-left: 5px;
    }
}

