@import "_common.scss";

.workspace_list {
    li {
        padding: 8px;
    }

    li.archived .name {
        text-decoration: line-through;
    }

    li img {
        display: inline-block;
    }

    div.text {
        display: inline-block;
    }

    a.name {
        font-size: 18px;
    }
    .summary {
        margin-bottom: 10px;
    }
    .owner {
        font-size: 13px;
        color: $weak-text-color;

        a {
            font-weight: $semibold;
            color: $weak-link-color;
        }
    }

    .private {
        color: $dark-text-color;
        font-size: 13px;
        border-left: 2px solid $border-color;
        margin-left: 5px;
        padding-left: 5px;
    }
}

