@import "_common.scss";

.workspace_index_content_header {
    .menus {
        float: right;
        position: relative;
        text-align : right;
        line-height: 100%;
        height: 100%;
        width: 200px;

        >.link {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 12px;
            font-weight: 600;
            color: $dark-text-color;

            a {
                span {
                    border-bottom: 1px dotted $link-color;
                }

                img {
                   margin: 2px;
                }
            }
        }

        .menu.popup_filter {
            right: 10px;
            top: 46px;

            .pointer {
                left: 120px;
            }

            li {
                margin: 4px;

                .check {
                    background-repeat: no-repeat;
                    background-image: url("/images/check.png");
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 8px;
                    position: relative;
                    top: 1px;

                    &.hidden {
                        visibility: hidden;
                    }
                }
            }


        }
    }
}
