@import "_common.scss";

$image-height : 48px;
$image-width: 48px;

.workfiles_import {
    .details {
        img, span, label, input[type=file] {
            display: inline-block;
        }

        img {
            vertical-align: middle;
        }
    }

    div.comment {
        margin-left: $image-width;
    }

    .errors {
        width: 100%;
    }

    div[aria-role=progressbar] {
        top: 7px;
        left: 17px;
        display: inline;
    }

    label {
        text-align: right;
    }

    label, input[type=file] {
        color: $link-color;
        &:hover {
            cursor : pointer;
        }
    }

    .fileName {
        color: $secondary-text-color;
        font-size: 15px;
        vertical-align: middle;
        line-height: $image-height;
    }

    .file-wrapper {
        overflow: hidden;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

    .file-wrapper button {
        float: left;
        z-index: 99;
    }

    .file-wrapper input {
        width: 1px;
        position: relative;
        top: 0px;
        left: -130px;
        @include opacity(0);
        z-index: -1;
     }

    .expanded {
        padding-right: 35px;
    }
}
