.dataset_visualization_sidebar {
    fieldset {
        form label {
            margin-top: 8px;
        }

        form label, input {
            display: inline-block;
        }

        select, .ui-selectmenu {
            display: block;
            width: 215px;
            margin-bottom: 10px;
            margin-right: 0;
        }

        .column_hint {
            font-size: 12px;
            font-weight: $semibold;
            color: $color-text3;
            /*float: right;*/
            right: 0px;
            position: absolute;
            bottom: 0;
        }

        .no_columns {
            display: inline-block;
            padding-bottom: 10px;
        }
    }


    .limiter {
        font-size: 12px;
        color: $color-text2;
        font-weight: $semibold;
        margin-bottom: 10px;

        a {
            font-size: 12px;
        }
        .pointing_l {
            display: inline-block;
            border-bottom: 1px solid $color-text3;
            border-left: 1px solid $color-text3;
            width: 5px;
            height: 7px;
            margin-right: 3px;
            margin-left: 2px;
            vertical-align: top;
        }
        .selected_value {
            padding-right: 5px;
        }
        .triangle {
            display: inline-block;
            margin-bottom: 2px;
            @include triangle(down, $link-color, 7px, 4px);
        }
    }
    .limiter_menu_container {
        .limiter_menu {
            display: none;
        }
    }
}

ul.limiter_menu {
    li {
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        &:hover {
            text-decoration: underline;

        }
    }
}