@import "../_common.scss";

.dialog.name_chorus_view {
    .preview_bar {
        position: relative;
        height: 36px;

        input[type=text] {
            width: 400px;
            display: inline-block;
        }

        button {
            top: 5px;
            right: 3px;
        }
    }

    .CodeMirror {
        background: white;
    }
}