@import "../_common.scss";

.name_chorus_view {
    .name_input {
        background-color: $shaded-background-color;
        padding: 5px;
        border-bottom: 1px solid #B2C7D6;

        label {
            display: inline-block;
            margin-right: 10px;
            height: 20px;
            vertical-align: middle;
        }
        input[type=text] {
            width: 400px;
            display: inline-block;
        }
    }

    .CodeMirror {
        background: white;
    }
}