@import "../_common.scss";
@import "compass/css3/border-radius";

$list-item-height: 39px;
$list-border-width: 1px;

.collection_picklist {
    background-color: $body-background-color;

    .search {
        padding: 4px 12px;
        margin: 0;
        height: 25px;
        border-bottom: 1px solid $pagination-border-color;
        
        input[type=text] {
            margin: 0;
            @include border-radius(12px);
            font-size: 14px;
            padding: 2px 4px 0px 29px;
            background: url("/images/search-icon.png") no-repeat 9px 3px;
            outline: none;
            background-color: white;
            border-color: $subheader-border-color;
        }
    }

    .items {
        ul {
            li {

                &.selected {
                    background-color: $picklist-selected-background-color;

                    .name {
                        color: white;
                    }
                }

                &.filtered {
                    display: none;
                }
            }
        }
    }
}