.create_database_view_dialog {
    .target_location {
        @include results-console-message;
        @include ellipsis;
        max-width: 400px;
        padding-bottom: 10px;
    }

    .target_location_valuefefdsa {
        font-size: 13px;
        font-weight: $semibold;
        font-color: $color-text2;
    }
}