.manage_join_tables {
    width: 480px;

    .list_content_details {
        width: auto;
    }

    .list {
        max-height: 500px;
        overflow: auto;

        li {
            padding-right:10px;
            margin-right: 0;

            .actions {
                float: right;
                height: 35px;
                line-height: 35px;
                padding-right: 10px;

                a {
                    font-size: 12px;
                }

                .separator {
                    color: $link-color;
                    margin: 0 6px;
                }
            }
            .name {
                @include font-normal-alpha;
            }

            .column_count {
                @include secondary-text-small;
            }

            &.selected {
                background-color: $picklist-selected-background-color;
                .spacer {
                    background-color: $picklist-selected-background-color;
                }

                .name, .column_count, a {
                    color: white;
                }
            }

            .original a.join {
                @include secondary-text-small;
                cursor: not-allowed;
            }
        }
    }
}

.join_configuration {
    width: 480px;

    .join_tables_content {
        padding: 20px;
        padding-top: 10px;

        label {
            margin-top: 15px;
            margin-bottom: 4px;
            display: block;
            width: 326px;
        }

        select {
            display: block;
            width: 326px;
        }
    }
}

.preview_columns {
    width: 480px;

    .list_container {
        max-height: 10 * 36px;
        overflow-y: auto;
    }

    .list {
        margin-right: 20px;
        border-right: 1px solid $subheader-border-color-dark;
    }

    .sub_header {
        .search {
            float: right;
            width: 250px;
            vertical-align: middle;
            margin-top: 5px;
        }

        .name {
            display: inline-block;
            max-width: 165px;
            @include ellipsis;
            @include font-content-details;
        }
    }

    .text {
        .name {
            @include font-normal-alpha;
        }

        .comment {
            @include secondary-text-small;
        }
    }

    .modal_controls {
        button.cancel {
            float: left;
        }
    }
}
