.manage_join_tables {
    width: 480px;

    .list {
        max-height: 500px;
        overflow: auto;

        li {
            .name {
                @include font-normal-alpha;
            }

            .column_count {
                @include secondary-text-small;
            }

            &.selected {
                background-color: $picklist-selected-background-color;
                .spacer {
                    background-color: $picklist-selected-background-color;
                }

                .name, .column_count {
                    color: white;
                }
            }
        }
    }

}
