.notes_new{

    width: 380px;
    
    textarea {
        min-width : 350px;
        min-height: 75px;
        resize: none;
    }

    .options_area {
        display: none;

        .label {
            color: $color-text2;
            width: 72px;
            display: inline-block;
        }
    }

    .file_details {
        vertical-align: middle;
        line-height: 32px;
        img {
            vertical-align: middle;
        }
        .remove {
            float: right;
        }
        .progress_bar {
            display: inline-block;
            background-color: $progress-bar-background-color;
            width: 100px;
            height: 15px;
            float: right;
            margin-top: 7px;
            position: relative;
            span {
                background-image: url(/images/loading_animation.gif);
                position: absolute;
                display: inline-block;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
        .upload_finished {
            float : right;
            color: $color-text4
        }
    }

    .file_name {
        display: inline-block;
        width: 115px;
        @include ellipsis;
        color: $color-text2;
        font-weight: $semibold;
    }

    .options_text, .options_area {
        font-size: 12px;
        margin: 8px 8px;
    }

    .options_text {
        color: $color-text3;

        .show_options {
            font-weight: $semibold;
            border-bottom: 1px dotted;
        }
    }

    .row {
        margin-bottom: 10px;

        a.workfile {
            vertical-align: bottom;
        }
    }
}
