.notes_new{

    width: 380px;
    
    textarea {
        min-width : 350px;
        min-height: 75px;
        resize: none;
    }

    .options_area {
        display: none;

        .label {
            color: $dark-text-color;
            width: 72px;
            display: inline-block;
        }
    }

    .file_details {
        vertical-align: middle;
        line-height: 32px;
        display: none;
        img {
            vertical-align: middle;
        }
        .remove {
            float: right;
        }
    }

    .file_name {
        display: inline-block;
        width: 170px;
        @include ellipsis;
        color: $dark-text-color;
        font-weight: $semibold;
    }

    .options_text, .options_area {
        font-size: 12px;
        margin: 8px 8px;
    }

    .options_text {
        color: $secondary-text-color;
    }

    .show_options:hover {
        border-bottom: 1px dotted;
    }

    .row {
        margin-bottom: 10px;
    }
}
