.dialog.sandbox_new {
    width: 440px;

    .select_container {
        display: none;
    }

    legend div {
        display: inline-block;
        margin: 0 8px;
    }

    select {
        display: block;
        width: 320px;
    }

    form label {
        display: block;
    }

    .loading_text {
        position: relative;
        display: inline-block;
    }

    .loading_spinner {
        position: absolute;
        right: -10px;
        top: 7px;
        div[aria-role=progressbar] {
            right: 0;
        }
    }

    .unavailable {
        display: none;
    }
};
