@import "_common.scss";

$list-item-height: 39px;
$list-border-width: 1px;
$shuttle-width: 720px;

.shuttle_widget {
    background-color: $body-background-color;
    width: $shuttle-width;
    border-bottom: 1px solid $list-border-color;
    border-top: 1px solid $list-border-color;

    .shuttle_header {
        border-bottom: 1px solid $list-border-color;
        .search {
             padding: 4px 12px;
             margin: 0;
             height: 25px;
             border-right: 1px solid $list-border-color;

             input[type=text] {
                 width: 70%;
                 display: inline-block;
                 margin: 0;
                 @include border-radius(12px);
                 font-size: 14px;
                 padding: 2px 4px 0px 29px;
                 background: url("/images/search-icon.png") no-repeat 9px 3px;
                 outline: none;
                 background-color: white;
                 border-color: $subheader-border-color;
             }
        }

         > div {
            vertical-align: middle;
            width: $shuttle-width / 2 - 26px;
            display: inline-block;
            line-height: 25px;
            a {
               float: right;
            }
        }
        
        .object_name {
            color: $secondary-text-color;
        }

        .selected_count {
            padding-left: 5px;
        }

        a {
            font-weight: $semibold;
        }
    }

    a {
        font-size: 12px;
    }

    .was_added {
        color: $weak-text-color;
        float: right;
        font-size: 12px;
    }

    li a {
        float: right;
    }

    img.profile {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
        margin-top: -6px;
    }

    div.image {
        position: relative;
        display: inline-block;
        padding: 2px;
        width: $list-item-height - 6px;
        height: $list-item-height - 6px;
    }

    ul {
        max-height: (($list-item-height + $list-border-width) * 8) + $list-item-height;
        width : $shuttle-width/2 - 2px;
        display : inline-block;
        vertical-align: top;
        overflow-y: auto;

        li {
            height: $list-item-height;
            border-bottom: $list-border-width dotted $list-border-color;
            padding: 0 8px;
            line-height: $list-item-height - 3px;

            .name {
                vertical-align: middle;
                color: $dark-text-color;
                font-size: 14px;
                @include ellipsis;
                padding-left: 10px;
                display: inline-block;
                max-width: 60%;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        &.available {
            border-right: 1px solid $list-border-color;
            
            li {
                img.checkmark {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    display: none;
                }

                &.added {
                    img.checkmark {
                        display: inherit;
                    }
                    a {
                        display : none;
                    }

                    .was_added {
                        display : inline;
                    }
                }

                a {
                    display : inline;
                }

                .was_added {
                    display : none;
                }
            }
        }

        &.selected {
            li {
                display: none;
                &.added {
                    display: block;
                }
            }
        }
    }
}

#dialog.workspace_edit_members #dialog_content{
    padding: 0;
    .controls {
        padding: 0 20px 20px;
    }

}

