@import "../_common.scss";

.workspace_members_more {
    width: 315px;


    .sub_header {
        padding: 10px 15px;
        .member_count {
            color: $secondary-text-color;
            font-weight: $semibold;
            display: inline-block;
            font-size: 14px;
        }
        .sort_menu {
            display: inline-block;
            float: right;

            .link_menu {
                font-weight: $semibold;
                font-size: 14px;
                a {
                    font-size: 14px;
                }
                .title {
                    font-size: 14px;
                }
            }
        }
    }

    .collection_list {
        border-top: 1px solid $subheader-border-color-dark;
        border-bottom: 1px solid $subheader-border-color-dark;

    }

    button {
        float: right;
        margin: 0 10px 15px;
    }
}

#dialog.workspace_members_more {

    #dialog_content {
        padding: 0;
    }
    
}