.dialog.workfiles_attach {
    width: 320px;

    .dialog_content {
        padding: 0;

        .collection_list {

            max-height: 360px;
            overflow: auto;
            ul {
                li {
                    height: 39px;
                    line-height: 39px;
                    vertical-align: middle;

                    a {
                        display: inline-block;
                        width: 100%;
                    }
                    
                    img {
                        width: auto;
                        height: auto;
                        padding-right: 2px;
                    }

                    &.selected {
                        background-color: $picklist-selected-background-color;

                        .name {
                            color: white;
                        }
                    }
                }
            }
        }

        .controls {
            padding: 10px 15px;
            margin-top: 0;
            border-top: 1px solid $subheader-border-color-dark;
        }
    }
}