@import "../_common.scss";

.workspace_members_more {
    width: 315px;


    .sub_header {
        padding: 10px 15px;
        .member_count {
            color: $secondary-text-color;
            font-weight: $semibold;
        }
    }

    .collection_list {
        border-top: 1px solid $subheader-border-color-dark;
        border-bottom: 1px solid $subheader-border-color-dark;

    }

    button {
        float: right;
        margin: 0 10px 15px;
    }
}

#dialog.workspace_members_more {

    #dialog_content {
        padding: 0;
    }
    
}