.alert.function_info {
    .function_return_type {
        font-size: 12px;
        color: black;
    }

    .function_name {
        font-size: 13px;
        color: black;
        font-weight: $semibold;
    }

    .function_arguments {
        font-size: 12px;
        display: block;
        color: black;
    }
}