.pick_items {
    width: 500px;
	height: 800px;
	overflow: auto;

    .sub_header .chorus_search_container {
        margin: 5px 0;
    }

    .list_content_details {
        width: auto;
    }

    .items {
        ul {
            li {
				vertical-align: middle;

                &:hover {
                    cursor: pointer;
                }

                &.selected {
                    background-color: $picklist-selected-background-color;

                  a {
                    color: white;
                  }

                  .name {
                        color: white;
                    }
                }

				.text {
					position: absolute;
					top: 13px;
					left: 25px;
					width: 304px;
				}

				.actions {
					position: absolute;
					top: 17px;
					left: 340px;
					margin-left: 10px;
					float: right;
				}
            }
        }
    }
}
