@import "../_common.scss";

.workspaces_new {
    input[type=checkbox] {
        margin: 8px 4px 0 8px;
    }

    input[type=text] {
        width: 400px;
    }

    label {
        color: $secondary-text-color;
        font-size: 12px;
        font-weight: 600;
    }
}