@import "../_common.scss";

.workspace_quickstart {
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 20px;

    h2 {
        @include heading-sidebar;
        margin-bottom: 5px;
    }

    .body {
        @include font-normal-beta;
        margin-bottom: 20px;
    }

    .info_box {
        padding: 15px;
        box-sizing:border-box;
        border: 1px solid $subheader-border-color;
        @include border-radius(4px, 4px);
        display: inline-block;
        width: 360px;
        height: 90px;
        vertical-align: middle;

        img {
            vertical-align: middle;
            display: inline-block;
        }
        .details {
            margin-left: 5px;
            vertical-align: middle;
            display: inline-block;
            @include font-normal-beta;
            width: 220px;

            a {
                display: block;
                font-size: 18px;
                font-weight: $semibold;
            }
        }
    }

    .add_team_members {
        margin-left: 10px;
    }

    .edit_workspace_settings {
        margin-left: 8px;
    }

}