@import "_common.scss";

.workspace_list {
    li.archived .name span  {
        text-decoration: line-through;
    }

    .owner {
        color: $color-text4;

        a {
            font-weight: $semibold;
        }
    }

    .private {
        @include dialog-label;
        border-left: 2px solid $border-color;
        margin-left: 5px;
        padding: 3px $padding-x 1px;
    }

    li {
        .full {
            display: none;
        }
        .truncated {
            display : block;
        }
        &.more {
            .full {
                display : block;
            }
            .truncated {
                display : none;
            }
        }

        .badge {
            div {
                display: inline-block;
                @include secondary-text-small;
                vertical-align: middle;
                line-height: 14px;
                color: white;
            }
            .left {
                background: url(/images/ribbons/counter_orange_rec1.png) no-repeat;
                width: 4px;
                height: 14px;
            }
            .center {
                background: url(/images/ribbons/counter_orange_2.png) repeat;
                height: 14px;
            }
            .right {
                background: url(/images/ribbons/counter_orange_rec3.png) no-repeat;
                width: 4px;
                height: 14px;
            }

        }
    }

}

