@import "_common.scss";
@import "compass/css3/gradient";

$dialog-width : 550px;
$image-width : 230px;

.workspace_settings {
    input[name=name] {
        width: 430px;
        display: inline;
    }

    input#public_checkbox, label[for=public_checkbox] {
        display : inline;
    }

    label {
        display: block;
        margin-top: 15px;
        margin-bottom: $padding-y;

        &:first-child {
            margin-top: 0;
        }
    }

    .dialog_content {
        width: $dialog-width;
    }

    .edit_photo {
        width: $image-width;
        margin-right: $padding-x;
        display: inline-block;

        .spinner_container {
            width: $image-width;
            height: 50px;
            background: white;
            margin-bottom: $padding-y;
            text-align: center;
            border: 1px solid #BEC1C4;

            img {
                max-width: $image-width;
                max-height: 50px;

                &.disabled {
                    display: none;
                }
            }
        }
    }

    .instructions, .archived_text {
        margin-top: 6px;
        width: $dialog-width - $image-width - $padding-x - 5px;
        float: right;
        color: $secondary-text-color;
        font-size: 14px;
    }

    div.owner {
        @include font-normal-beta;
        padding-left: 12px;
    }

    select.owner, .ui-selectmenu-button {
        display: block;
        min-width: 215px;
    }

    .workspace_status {
        padding-top: 10px;
        display: inline-block;

        label:first-child {
            padding-bottom: 6px;
            margin-bottom: 0;
            display: block;
        }

        label {
            display: inline;

            span {
                color: black;
            }
        }

        .radio {
            padding: 6px 0 0 8px;
        }
    }
    .archived_text {
        padding-top: 32px;
        width: 440px;
    }

}
