@import "_common.scss";

.database_column_list {
    &.list {
        li {
            div.text {
                padding-left: 0;

                .summary {
                    padding-bottom: 0;
                }
            }

            .type {
                position: absolute;
                right: -26px;
                top: 10px;
                z-index: 10;
                line-height: 11px;
                height: 22px;
                vertical-align: middle;

                .type_name {
                    @include database-column-type;
                    height: 14px;
                    display: inline-block;
                    padding: 2px 8px 2px 8px;
                }

                .left {
                    width: 9px;
                    height: 22px;
                    display: inline-block;
                }

                .right {
                    width: 6px;
                    height: 22px;
                    display: inline-block;
                }

                &.numeric {
                    .left{
                        background: url(/images/ribbons/label_datatype_dkblue1.png) no-repeat;
                    }
                    .type_name {
                        background: url(/images/ribbons/label_datatype_dkblue2.png) repeat;
                    }
                    .right {
                        background: url(/images/ribbons/label_datatype_dkblue3.png) no-repeat;
                    }
                }

                &.string {
                    .left{
                        background: url(/images/ribbons/label_datatype_purple1.png) no-repeat;
                    }
                    .type_name {
                        background: url(/images/ribbons/label_datatype_purple2.png) repeat;
                    }
                    .right {
                        background: url(/images/ribbons/label_datatype_purple3.png) no-repeat;
                    }
                }

                &.boolean {
                    .left{
                        background: url(/images/ribbons/label_datatype_black1.png) no-repeat;
                    }
                    .type_name {
                        background: url(/images/ribbons/label_datatype_black2.png) repeat;
                    }
                    .right {
                        background: url(/images/ribbons/label_datatype_black3.png) no-repeat;
                    }
                }

                &.binary {
                    .left{
                        background: url(/images/ribbons/label_datatype_green1.png) no-repeat;
                    }
                    .type_name {
                        background: url(/images/ribbons/label_datatype_green2.png) repeat;
                    }
                    .right {
                        background: url(/images/ribbons/label_datatype_green3.png) no-repeat;
                    }
                }

                &.date, &.time, &.date_time {
                    .left{
                        background: url(/images/ribbons/label_datatype_ltblue1.png) no-repeat;
                    }
                    .type_name {
                        background: url(/images/ribbons/label_datatype_ltblue2.png) repeat;
                    }
                    .right {
                        background: url(/images/ribbons/label_datatype_ltblue3.png) no-repeat;
                    }
                }

                &.other {
                    .left{
                        background: url(/images/ribbons/label_datatype_white1.png) no-repeat;
                    }
                    .type_name {
                        color: $color-text2;
                        background: url(/images/ribbons/label_datatype_white2.png) repeat;
                    }
                    .right {
                        background: url(/images/ribbons/label_datatype_white3.png) no-repeat;
                    }
                }
            }
        }
    }
}