@import "_common.scss";

.instance_edit {
    $dialog-width : 475px;
    $host-width : 320px;
    $account_width : 212px;
    $input-spacing : 16px;

    width: $dialog-width;

    input[type=text][disabled=disabled] {
        border: 0;
        background: none;
    }

    label {
        margin-top: 15px;
        margin-bottom: $padding-y;
        display: inline-block;
    }

    label[name=host], input[name=host] {
        width: $host-width;
        display: inline-block;
    }

    input[name=database] {
        width: $host-width;
    }

    .username, .group_list
    {
        display: inline-block;
        width: $account_width;
    }

    .group_list {
        margin-left: $input-spacing;
    }

    .port {
        width: $dialog-width - $host-width - 40px;
        margin-left: 4px;
        display: inline-block;
    }
}

