@import "../_common.scss";

.workspace_quickstart_header {
    vertical-align: middle;

    img {
        display: inline-block;
        vertical-align: top;
    }

    h1 {
        padding-top: 8px;
        display: inline-block;
        width: 95%;
    }
}

.workspace_quickstart {
    margin-left: 12px;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;

    h2 {
        @include heading-sidebar;
        margin-bottom: 5px;
    }

    .body {
        @include font-normal-beta;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    a.dismiss {
        font-size: 12px;
        font-weight: $semibold;
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .info_box {
        margin-left: 8px;
        padding: 15px;
        padding-right: 5px;
        margin-bottom: 10px;
        box-sizing:border-box;
        border: 1px solid $subheader-border-color;
        @include border-radius(4px, 4px);
        display: inline-block;
        width: 340px;
        height: 100px;
        vertical-align: middle;

        img {
            vertical-align: middle;
            display: inline-block;
        }
        .details {
            margin-left: 5px;
            vertical-align: middle;
            display: inline-block;
            @include font-normal-beta;
            width: 210px;

            a {
                display: block;
                font-size: 18px;
                font-weight: $semibold;
            }
        }
    }

}