@import "_common.scss";

$image-height : 35px;
$image-width: 35px;

.dataset_import {
    width: 440px;

    .where {
        @include font-menu;
        padding-left: 15px;
        padding-bottom: 5px;
    }

    form {
        .file_details {
            line-height: $image-height;
            vertical-align: middle;

            span, label, input[type=file] {
                display: inline-block;
            }

            img {
                float: left;
                vertical-align: middle;
            }

            .file {
                vertical-align: middle;

                .empty_selection {
                    @include font-normal-alpha;
                    padding-left: 12px;
                }

                .file-wrapper {
                    padding-bottom: 1px;
                    vertical-align: top;
                    a {
                       font-size: 12px;
                       font-weight: $semibold;
                       margin-left: 10px;
                    }
                }

                .file_name {
                    @include ellipsis;
                    display: inline-block;
                    max-width: 315px;
                    color: $color-text3;
                    font-size: 14px;
                }

                input[type=file] {
                    color: $link-color;
                    &:hover {
                        cursor : pointer;
                    }
                }

                .choose {
                    @include font-content-details;
                    @include content-details-button($border-color);
                }
            }
        }

        .import_controls {
            margin-left: $image-width;

            .row {
                line-height: $image-height;
                vertical-align: middle;

                .right {
                    display: inline-block;
                    float: right;
                }

                input[type=text] {
                    width: 192px;
                }

                select {
                    width: 186px;
                }

                .ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled {
                    cursor: default;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                }
            }
        }

        .errors {
            width: 100%;
        }

        label {
            text-align: right;
        }

        input[disabled="disabled"] {
            @include opacity(.6);
        }

        &.chosen {
            img {
                visibility: visible;
            }

            .comment {
                visibility: visible;
            }
        }
    }
}
