#page[data-page=DatasetShow] {
    .content_details {
        padding: 0;
        height: auto;
    }

    #sidebar {
        li.dataset_preview {
            display: none;
        }
    }

    $fieldset-margin: 15px;
    fieldset {
        border: 1px solid $border-color;
        padding: $fieldset-margin $dialog-padding $dialog-padding;
        margin-right: $fieldset-margin;
        position: relative;

        legend {
            @include heading-sidebar;
        }

        label {
            @include font-content-details;
            display: inline-block;
        }

        .labels {
            margin-bottom: 4px;
            vertical-align: middle;
            line-height: 12px;
            position: relative;
            margin-right: 1px;
        }

        .field {
            padding-top: 15px;
            &:first-child {
                padding-top: 0;
            }
        }

        .button_wrapper {
            text-align: center;

            button {
                margin-bottom: -43px;
                
                div[aria-role=progressbar]{
                    margin-bottom: 5px;
                    padding-left: 13px;
                    display: inline-block;

                }

                &.cancel {
                  margin-left: 5px;
                }
            }
        }

    }

    .dataset_create_chorus_view_sidebar {
        fieldset {
            padding : 0;
        }

        a.remove {
            float: right;
            display: none;
            @include secondary-text-small;
        }

        .name {
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            color: black;
            padding-left: 15px;
            max-width: 135px;
            @include ellipsis;
        }

        .sidebar_row {
            width: 100%;
            @include after-clearfix;

            &:hover {
                .remove {
                    display: inline-block;
                }
            }
        }
    }
}

.dataset_create_chorus_view_sidebar {

    .selected_columns {
        color: $color-text2;
        font-size: 12px;
        margin-bottom: 20px;

        .empty_selection {
            padding: $dialog-padding;
            background-color: $activity-stream-comment-background-color;
            margin: auto;

            .double_lines {
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                height: 3px;
                width: 25px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 0 0 5px;

                &:first-child {
                    margin: 0 5px 0 0;
                }
            }

            .bottom {
                display: inline-block;
                margin: 8px 0;
            }
        }
        .non_empty_selection {
            margin: 8px;

            .title {
                font-size: 16px;
                font-weight: $semibold;
                display:inline-block;
                margin-bottom: 8px;
            }

            .dataset {
                @include secondary-text-semibold;
                .label {
                    display:inline-block;
                    padding-bottom: 10px;
                }
                .name {
                    @include ellipsis;
                    @include font-menu;
                    max-width: 180px;
                    display: inline-block;
                }
            }
        }
    }

    button {
        bottom: -15px;

        &.disabled {
           color: #D6DBE0;
           border-color: #D6DBE0;
        }
    }
}