.table_import_csv.dialog {

    $cell-width: 120px;
    .dialog_content {
        padding-left: 2px;
        padding-right: 2px;
    }

    .directions {
        @include font-normal-alpha;
        margin-left: 15px;
        margin-bottom: 5px;
        input {
            display: inline-block;
            width: 250px;

        }
    }

    .data_table {
        border-top: 1px solid $list-border-color;
        border-bottom: 1px solid $list-border-color;

        width: 860px;
        height: 225px;
        overflow: auto;

        .th:hover input {
            width: 100px;
        }

        .tbody {
            overflow: visible;
            top: 50px;
        }

        .column_names {
            .field_name {
                display: inline-block;

            }
        }

        .data_types {
            .th {
                height: 16px;
                line-height: 16px;
                padding: 0;
                width: $cell-width;
                overflow: visible;

                .link_menu {
                    padding: 0;
                    .chosen {
                        padding: 0;
                        color: white;
                        border: none;
                        width: $cell-width - 4px;
                        display: inline-block;
                        height: 16px;
                    }
                    .popup {
                        padding-left: 8px;
                        img {
                            display: none;
                        }
                    }
                    .popup_filter {
                        right: 14px;
                        width: 100px;
                        min-width: 100px;
                        max-width: 100px;

                        li {
                            padding: 0;
                        }

                        .pointer {
                            left: 47px;
                        }
                    }
                }
            }

            .type {
                width: $cell-width;
                height: 16px;
            }

            .type_name {
                /*cursor: pointer;*/

                display: inline-block;
                color: white;

                .arrow {
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    @include triangle(down, white, 8px, 8px);
                }
            }

            .left, .right {
                width: 2px;
                height: 16px;
                display: inline-block;
                vertical-align: top;
            }

            .center {
                width: $cell-width - 4px;
                height: 16px;
                display: inline-block;
                vertical-align: top;
                padding-left: 0;
            }

            .integer, .float {
                .left {
                    background: url(/images/datatypes/label_sm_datatype_dkblue1.png) no-repeat;
                }

                .center {
                    background: url(/images/datatypes/label_sm_datatype_dkblue2.png) repeat;
                }

                .right {
                    background: url(/images/datatypes/label_sm_datatype_dkblue3.png) no-repeat;
                }
            }

            .text {
                .left {
                    background: url(/images/datatypes/label_sm_datatype_purple1.png) no-repeat;
                }

                .center {
                    background: url(/images/datatypes/label_sm_datatype_purple2.png) repeat;
                }

                .right {
                    background: url(/images/datatypes/label_sm_datatype_purple3.png) no-repeat;
                }
            }

            .date, .time, .date_time, .timestamp {
                .left {
                    background: url(/images/datatypes/label_sm_datatype_ltblue1.png) no-repeat;
                }

                .center {
                    background: url(/images/datatypes/label_sm_datatype_ltblue2.png) repeat;
                }

                .right {
                    background: url(/images/datatypes/label_sm_datatype_ltblue3.png) no-repeat;
                }
            }
        }
    }

    .modal_controls {
        padding-right: 10px;
        padding-bottom: 5px;
    }
}