.dataset_filter_wizard {
    padding: 3px 10px 10px;

    .filter_title {
        @include secondary-text-small;
    }

    .add_filter {
        float: right;
        font-size: 12px;
    }

    .brackets {
        height: 100%;
        width: 8px;
        display: inline-block;
        vertical-align: top;

        .brackets_top {
            height:50%;
            border-left: 1px solid $list-border-color;
            border-bottom: 1px solid $list-border-color;
        }

        .brackets_bottom {
            height:50%;
            border-left: 1px solid $list-border-color;
        }
    }

    li.last {
        .brackets_bottom {
            border-left: 0;
        }
    }
}

.dataset_filter {
    height: 40px;
    border-bottom: 0;

    .remove {
        display: inline-block;
        margin: 4px 0 0 10px;
        vertical-align: top;
    }

    select, .ui-selectmenu-button {
        width: 215px;
    }
}