@import "_common.scss";

.dataset_create_chorus_view_sidebar {

    .selected_columns {
        color: $color-text2;
        font-size: 12px;
        padding: 8px;


        .title {
            font-size: 16px;
            font-weight: $semibold;
            display: inline-block;
            margin-bottom: 8px;
        }

        .dataset {
            margin-bottom: 10px;
            @include secondary-text-semibold;
            .label {
                display: inline-block;
                margin-right: 2px;
            }
            .name {
                @include ellipsis;
                max-width: 115px;
                display: inline-block;
                font-size: 14px;
                color: $color-text1;
                font-weight: $semibold;
            }
        }
    }

    button {
        bottom: -15px;

        &.disabled {
            color: #D6DBE0;
            border-color: #D6DBE0;
        }
    }
    fieldset {
        padding: 0 0 15px 0;
    }

    a.remove {
        float: right;
        display: none;
        @include secondary-text-small;
    }

    .columns, .no_columns_selected {
        margin-bottom: 15px;
    }

    .columns {
        .name {
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            color: black;
            padding-left: 15px;
            max-width: 135px;
            @include ellipsis;
        }
    }

    .sidebar_row {
        width: 100%;
        @include after-clearfix;

        &:hover {
            .remove {
                display: inline-block;
            }
        }
    }
}