.dataset_preview {
    width: 800px;

    &.dialog {
        .dialog_content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .modal_controls {
        margin-right: $dialog-padding;
    }

    .results_console {

        .controls {
            display: none;
        }

        .execution {
            h1.title {
                display: none;
            }
        }

        .bottom_gutter {
            display: none;
        }

        .minimized {
            .data_table {
                height: inherit;
                .tbody {
                    max-height: 600px;
                }
            }
        }
    }
}