.dataset_list, .database_column_list {
    .image {
        display: block;
        float: left;
    }

    .right {
        @include recent-comment;
        overflow: hidden;
        padding-left: $padding-x;
        
        .name {
            font-weight: $semibold;
        }
        .location {
            padding-top: 4px;
            @include results-console-message;
            a {
                font-size: 12px;
                font-weight: $semibold;
            }
        }

        .comment {
            padding-top: 4px;
            line-height: 19px;
        }

    }
}