.dataset_visualization_sidebar {
    $fieldset-margin: 15px;
    fieldset {
        border: 1px solid $border-color;
        padding: $fieldset-margin $dialog-padding $dialog-padding;
        margin-right: $fieldset-margin;
        position: relative;

        legend {
            @include heading-sidebar;
        }

        label {
            @include font-content-details;
            display: inline-block;
        }

        .labels {
            margin-bottom: 4px;
            vertical-align: middle;
            line-height: 12px;
            position: relative;
            margin-right: 1px;
        }

        .field {
            padding-top: 15px;
            &:first-child {
                padding-top: 0;
            }
        }

        button {
            $avail-width: $sidebar-width - $fieldset-margin - (2 * $fieldset-margin) - 2px;
            position: absolute;
            left: $avail-width/4;
            right: $avail-width/4;
        }

        form label {
            margin-top: 8px;
        }

        form label, input {
            display: inline-block;
        }

        select, .ui-selectmenu-button {
            display: block;
            width: 215px;
            padding-bottom: 10px;
        }

        .column_hint {
            font-size: 12px;
            font-weight: $semibold;
            color: $color-text3;
            /*float: right;*/
            right: 0px;
            position: absolute;
            bottom: 0;
        }

        .no_columns {
            display: inline-block;
            padding-bottom: 10px;
        }
    }


    .limiter {
        font-size: 12px;
        color: $color-text2;
        font-weight: $semibold;
        margin-bottom: 10px;
        a {
            font-size: 12px;
        }
        .pointing_l {
            display: inline-block;
            border-bottom: 1px solid $color-text3;
            border-left: 1px solid $color-text3;
            width: 5px;
            height: 7px;
            margin-right: 3px;
            margin-left: 2px;
            vertical-align: top;
        }
        .triangle {
            display: inline-block;
            margin-left: 5px;
            margin-bottom: 2px;
            @include triangle(down, $link-color, 7px, 4px);
        }
    }
    .limiter_menu_container {
        .limiter_menu {
            display: none;
        }
    }
}

ul.limiter_menu {
    li {
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        &:hover {
            text-decoration: underline;

        }
    }
}