@import "../_common";

@mixin chart_icon($name) {
    .#{$name} {
        background-image: url("/images/visualizations/create_icons/#{$name}_off.png");
        &.selected {
            background-image: url("/images/visualizations/create_icons/#{$name}_on.png");
        }
    }
}

.content_details .dataset_content_details {
    .column_count {
        padding: 0 $padding-x;
        border-top: 1px solid #B2C7D6;
        background-color: #C4DCEB;

        .count {
            @include font-normal-alpha;
        }

        .right {
            float: right;
        }
    }

    .definition, .create_chart {
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #8D9DA8;
        background-color: $content-details-action-background-color;
    }

    .definition {

        button {
            margin-left: 0;
            color: $content-details-action-link-color;
            font-weight: $semibold;
            font-size: 13px;
            margin-top: 2px;
            @include content-details-button($content-details-action-link-border-color);
        }

        .transform {
            float: right;
        }

        .down_arrow {
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #aaa;
            margin: 0 0 2px 8px;
            display: inline-block;
        }
    }

    .create_chart {
        .create {
            @include create-bar-text;
            background-color: $content-details-create-background-color;
            display: inline-block;
            width: 65px;
            vertical-align: top;
            text-align: center;
        }

        .triangle_right {
            @include triangle(right, $content-details-create-background-color, 10px, 32px);
            display: inline-block;
            vertical-align: top;
        }

        .cancel {
            float: right;
            color: $content-details-create-bar-link-color;
            font-size: 12px;
            font-weight: $semibold;
            margin-right: 15px;
        }

        .chart_icon {
            width: 50px;
            height: 100%;
            display: inline-block;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                background-color: $content-details-chart-icon-hover-background-color;
            }
            &.selected {
                background-color: $content-details-chart-icon-selected-background-color;
            }
        }

        @include chart_icon(frequency);
        @include chart_icon(histogram);
        @include chart_icon(heatmap);
        @include chart_icon(timeseries);
        @include chart_icon(boxplot);
    }
}

.transform_menu {
    li {
        padding: 5px;

        a {
            @include font-menu;
            &:hover {
                text-decoration: underline;
            }
        }

        .menu_shortcut {
            @include font-menu;
            color: $color-text4;
            float: right;
            padding-left: (6 * $padding-x);
        }
    }
}