/* line 4, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .info {
  margin-bottom: 10px;
}
/* line 8, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .account_info {
  font-size: 12px;
  font-weight: normal;
  color: black;
  vertical-align: middle;
  margin-bottom: 10px;
}
/* line 16, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .account_info img {
  vertical-align: middle;
  padding-right: 4px;
}
/* line 21, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .account_info a {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #d0d0d0;
  border-color: #2c95dd;
}
/* line 29, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .instance_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: black;
}
/* line 34, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .instance_type {
  font-size: 12px;
  font-weight: normal;
  color: #7d7d7d;
}
/* line 39, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .configuration_detail dl {
  padding-right: 8px;
  font-size: 14px;
  line-height: 19px;
}
/* line 45, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .configuration_detail dt {
  font-size: 14px;
  font-weight: normal;
  color: #5f5f5f;
  float: left;
  clear: left;
}
/* line 51, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .configuration_detail dd {
  float: right;
  width: 142px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 59, ../../scss/instances/_instance_sidebar.scss */
.instance_list_sidebar .tabbed_area .selected {
  display: block;
}

/* line 4, ../../scss/instances/_instance_list.scss */
.instance_list .instance_provider .details {
  font-size: 14px;
  font-weight: 600;
  color: #5f5f5f;
  padding: 5px 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeef2), color-stop(100%, #d7dfe9));
  background-image: -webkit-linear-gradient(#ebeef2, #d7dfe9);
  background-image: -moz-linear-gradient(#ebeef2, #d7dfe9);
  background-image: -o-linear-gradient(#ebeef2, #d7dfe9);
  background-image: -ms-linear-gradient(#ebeef2, #d7dfe9);
  background-image: linear-gradient(#ebeef2, #d7dfe9);
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #a4a4a4;
}
/* line 12, ../../scss/instances/_instance_list.scss */
.instance_list .no_instances {
  font-size: 12px;
  font-weight: normal;
  color: #7d7d7d;
  margin: 10px;
}
/* line 17, ../../scss/instances/_instance_list.scss */
.instance_list .images {
  float: left;
}
/* line 21, ../../scss/instances/_instance_list.scss */
.instance_list img.provider {
  padding-right: 10px;
}
/* line 25, ../../scss/instances/_instance_list.scss */
.instance_list img.state, .instance_list img.provider {
  vertical-align: middle;
}
/* line 29, ../../scss/instances/_instance_list.scss */
.instance_list .instance_details {
  margin-left: 60px;
}
/* line 33, ../../scss/instances/_instance_list.scss */
.instance_list .description {
  font-size: 14px;
  font-weight: normal;
  color: #7d7d7d;
}

/* line 4, ../../scss/instances/_instance_content_details.scss */
.instance_index_content_details > div {
  display: inline-block;
}

/* line 3, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new {
  width: 515px;
}
/* line 8, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset.collapsed {
  border: none;
  padding: 0 15px;
  margin-left: 1px;
  margin-bottom: 0;
}
/* line 9, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset.collapsed > div {
  display: none;
}
/* line 19, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset {
  margin-bottom: 15px;
}
/* line 29, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset label[name=host], .dialog.instance_new fieldset input[name=host],
.dialog.instance_new fieldset label[name=maintenanceDb], .dialog.instance_new fieldset input[name=maintenanceDb] {
  width: 320px;
}
/* line 33, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset label[name=port], .dialog.instance_new fieldset input[name=port] {
  width: 114px;
  margin-left: 12px;
}
/* line 42, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset label[name=dbUserName], .dialog.instance_new fieldset input[name=dbUserName],
.dialog.instance_new fieldset label[name=databaseName], .dialog.instance_new fieldset input[name=databaseName],
.dialog.instance_new fieldset label[name=userName], .dialog.instance_new fieldset input[name=userName],
.dialog.instance_new fieldset label[name=userGroups], .dialog.instance_new fieldset input[name=userGroups] {
  width: 210px;
}
/* line 46, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset label[name=size] {
  width: 453px;
}
/* line 50, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset input[name=size] {
  width: 75px;
}
/* line 57, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset label[name=dbPassword], .dialog.instance_new fieldset input[name=dbPassword],
.dialog.instance_new fieldset label[name=schemaName], .dialog.instance_new fieldset input[name=schemaName],
.dialog.instance_new fieldset label[name=userGroups], .dialog.instance_new fieldset input[name=userGroups] {
  width: 224px;
  margin-left: 12px;
}
/* line 62, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset img.help {
  display: inline-block;
  margin-top: -3px;
  vertical-align: middle;
}
/* line 68, ../../scss/instances/_instance_new_dialog.scss */
.dialog.instance_new fieldset .disabled {
  color: #959595;
}

/* line 7, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions {
  width: 460px;
}
/* line 10, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions input[type=submit] {
  height: 1px;
  visibility: hidden;
}
/* line 15, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions button.add_account {
  border: 1px solid #d0d0d0;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  background: none;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
  margin-left: 10px;
}
/* line 300, ../../scss/_common.scss */
.instance_permissions button.add_account[disabled=disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 22, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .sub_header .individual_accounts_count {
  background: url("/images/instances/individual.png") no-repeat left 8px;
  display: inline-block;
  padding-left: 23px;
}
/* line 28, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .sub_header .details_text {
  background: url("/images/instances/shared_icon.png") no-repeat left 6px;
  display: inline-block;
  padding-left: 23px;
}
/* line 34, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .sub_header a {
  font-size: 12px;
  float: right;
}
/* line 40, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list {
  height: 351px;
}
/* line 44, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li {
  height: auto;
  min-height: 39px;
  padding-right: 15px;
}
/* line 49, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li select, .instance_permissions .collection_list ul li .ui-selectmenu {
  width: 215px;
}
/* line 52, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li select.name {
  display: none;
}
/* line 56, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .select_container {
  margin-left: 10px;
}
/* line 59, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .select_container span.ui-selectmenu-button {
  vertical-align: middle;
}
/* line 64, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li div {
  display: inline-block;
}
/* line 68, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .image {
  position: relative;
  display: inline-block;
}
/* line 72, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .image img {
  padding: 2px;
}
/* line 77, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 81, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .links {
  float: right;
  font-size: 12px;
}
/* line 85, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .links .owner {
  color: #959595;
}
/* line 89, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .links a {
  font-size: 12px;
}
/* line 93, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .links .action {
  border-left: 1px solid #2c95dd;
  padding-left: 6px;
  margin-left: 6px;
}
/* line 99, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .links .action:first-child {
  border-left: none;
}
/* line 104, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials {
  display: none;
  margin-left: 52px;
  line-height: 12px;
}
/* line 109, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials a {
  font-size: 12px;
}
/* line 113, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .field_wrapper {
  width: 48%;
  padding-right: 4px;
}
/* line 117, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .field_wrapper label {
  padding-bottom: 4px;
  display: block;
}
/* line 123, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .actions {
  padding: 8px 0;
  display: block;
  color: #2c95dd;
}
/* line 128, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .actions a {
  padding: 0 8px;
}
/* line 131, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .actions a:first-child {
  padding-left: 0;
}
/* line 135, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .actions a div[aria-role=progressbar] {
  left: -98px;
  top: 5px;
  display: inline;
}
/* line 141, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li .credentials .actions a.cancel {
  border-left: 1px solid #2c95dd;
}
/* line 148, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li.editing {
  margin-top: 5px;
}
/* line 151, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li.editing .image img {
  vertical-align: top;
}
/* line 155, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li.editing .select_container {
  line-height: 35px;
  vertical-align: top;
}
/* line 160, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li.editing .links {
  display: none;
}
/* line 164, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li.editing .credentials {
  display: block;
}
/* line 170, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .collection_list ul li.new select.name {
  display: inline-block;
}
/* line 178, ../../scss/instances/_instance_permissions_dialog.scss */
.instance_permissions .modal_controls {
  margin: 0;
  padding: 14px;
}

/* line 3, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit {
  width: 475px;
}
/* line 11, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit input[type=text][disabled=disabled] {
  border: 0;
  background: none;
}
/* line 16, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit label {
  margin-top: 15px;
  margin-bottom: 8px;
  display: inline-block;
}
/* line 22, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit label[name=host], .instance_edit input[name=host] {
  width: 320px;
  display: inline-block;
}
/* line 27, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit input[name=maintenanceDb] {
  width: 320px;
}
/* line 33, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit label[name=userName], .instance_edit input[name=userName],
.instance_edit label[name=userGroups], .instance_edit input[name=userGroups] {
  display: inline-block;
  width: 212px;
}
/* line 38, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit label[name=userGroups], .instance_edit input[name=userGroups] {
  margin-left: 16px;
}
/* line 42, ../../scss/instances/_instance_edit_dialog.scss */
.instance_edit label[name=port], .instance_edit input[name=port] {
  width: 115px;
  margin-left: 4px;
  display: inline-block;
}

/* line 3, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .total_usage {
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
}
/* line 7, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li {
  border-bottom: 1px dotted #d1d4d7;
  margin-top: 8px;
  position: relative;
}
/* line 12, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li .image_container {
  display: inline-block;
  width: 45px;
  height: 85px;
  vertical-align: top;
}
/* line 19, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li .details {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 40px;
}
/* line 27, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li .workspace_link {
  font-size: 18px;
  font-weight: 600;
}
/* line 32, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li .pair {
  font-size: 13px;
  padding-top: 4px;
  display: block;
}
/* line 38, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li .key {
  display: inline-block;
  color: #5f5f5f;
}
/* line 43, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li .value {
  float: right;
  max-width: 200px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 51, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage li:last-child {
  border-bottom: none;
}
/* line 55, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .usage_bar {
  height: 15px;
  line-height: 15px;
  width: 100%;
  background: #d8dee6;
  font-size: 12px;
}
/* line 62, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .usage_bar .size_text {
  color: #5f5f5f;
  display: block;
  float: left;
  margin-left: 5px;
  margin-top: 1px;
}
/* line 71, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .used {
  height: 100%;
  float: left;
  display: inline-block;
  background: #2c95dd;
  border-right: 1px solid white;
}
/* line 78, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .used .percentage_text {
  float: right;
  height: 100%;
  display: inline-block;
  margin-right: 5px;
  margin-top: 1px;
  color: white;
}
/* line 87, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .used .size_text {
  color: white;
}
/* line 92, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .full {
  background-color: #ae0020;
}
/* line 96, ../../scss/instances/_instance_usage_dialog.scss */
.instance_usage .sub_content {
  overflow: auto;
  max-height: 380px;
}
