/* line 3, ../../scss/invalid_route.scss */
.invalid_route_box {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: black;
  background-color: white;
  position: relative;
  top: 140px;
  border: 2px solid #ccd2d7;
  height: 175px;
  width: 425px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../../scss/invalid_route.scss */
.invalid_route_box .title {
  padding: 10px;
  background-color: #b61b1d;
  color: white;
}
/* line 27, ../../scss/invalid_route.scss */
.invalid_route_box .content .text {
  padding: 10px;
}
/* line 31, ../../scss/invalid_route.scss */
.invalid_route_box .content button {
  float: right;
  margin-right: 20px;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 600;
}
