/* line 4, ../../scss/login.scss */
div.login {
  margin-top: 190px;
}
/* line 7, ../../scss/login.scss */
div.login .card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #d0d0d0;
  margin: auto;
  width: 450px;
  overflow: auto;
}
/* line 15, ../../scss/login.scss */
div.login .card h1 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 15px;
  text-align: left;
}
/* line 22, ../../scss/login.scss */
div.login .card form {
  text-align: center;
  padding: 11px 15px 9px 20px;
}
/* line 25, ../../scss/login.scss */
div.login .card form .content {
  margin: auto;
  text-align: left;
  width: 300px;
  padding-top: 5px;
}
/* line 31, ../../scss/login.scss */
div.login .card form .content input {
  margin-bottom: 12px;
}
/* line 266, ../../scss/_common.scss */
div.login .card form .modal_controls:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
/* line 42, ../../scss/login.scss */
div.login footer {
  width: 450px;
  color: #999999;
  font-size: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../../scss/login.scss */
div.login footer .logos {
  width: 450px;
  margin: 25px 0;
}
/* line 266, ../../scss/_common.scss */
div.login footer .logos:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
/* line 55, ../../scss/login.scss */
div.login footer .logos .greenplum {
  float: left;
}
/* line 59, ../../scss/login.scss */
div.login footer .logos .emc {
  float: right;
}
/* line 64, ../../scss/login.scss */
div.login footer .legal {
  text-align: left;
}
/* line 67, ../../scss/login.scss */
div.login footer .legal p {
  padding-bottom: 12px;
}
/* line 69, ../../scss/login.scss */
div.login footer .legal p span {
  display: inline-block;
}
/* line 72, ../../scss/login.scss */
div.login footer .legal p span.version {
  padding-right: 4px;
}
/* line 76, ../../scss/login.scss */
div.login footer .legal p span.copyright {
  padding-left: 4px;
}
