/* line 5, ../../scss/users/_user_list.scss */
.user_list img {
  display: inline;
  width: 32px;
  height: 32px;
}
/* line 12, ../../scss/users/_user_list.scss */
.user_list li div.text {
  left: 57px;
}
/* line 16, ../../scss/users/_user_list.scss */
.user_list li .details span {
  font-size: 14px;
  font-weight: normal;
  color: #5f5f5f;
}

/* line 3, ../../scss/users/_user_new_edit.scss */
.user_new, .user_edit {
  padding: 10px;
}
/* line 6, ../../scss/users/_user_new_edit.scss */
.user_new .errors, .user_edit .errors {
  margin: -10px;
  margin-bottom: 0;
}
/* line 11, ../../scss/users/_user_new_edit.scss */
.user_new form, .user_edit form {
  position: relative;
  margin-bottom: 15px;
}
/* line 16, ../../scss/users/_user_new_edit.scss */
.user_new .edit_photo, .user_edit .edit_photo {
  width: 180px;
  float: left;
}
/* line 20, ../../scss/users/_user_new_edit.scss */
.user_new .edit_photo img, .user_edit .edit_photo img {
  padding: 5px;
  width: 150px;
}
/* line 25, ../../scss/users/_user_new_edit.scss */
.user_new .edit_photo .spinner_container, .user_edit .edit_photo .spinner_container {
  width: 150px;
}
/* line 30, ../../scss/users/_user_new_edit.scss */
.user_new .fields, .user_edit .fields {
  margin-left: 180px;
}
/* line 33, ../../scss/users/_user_new_edit.scss */
.user_new .fields input, .user_edit .fields input {
  margin-top: 6px;
  padding-right: 20px;
}
/* line 36, ../../scss/users/_user_new_edit.scss */
.user_new .fields input[type=checkbox], .user_edit .fields input[type=checkbox] {
  margin: 0;
  display: inline-block;
  margin-left: 2px;
  width: auto;
}
/* line 45, ../../scss/users/_user_new_edit.scss */
.user_new label, .user_new input, .user_edit label, .user_edit input {
  display: block;
}
/* line 49, ../../scss/users/_user_new_edit.scss */
.user_new label, .user_edit label {
  height: 14px;
}
/* line 52, ../../scss/users/_user_new_edit.scss */
.user_new label[for=admin-checkbox], .user_edit label[for=admin-checkbox] {
  display: inline-block;
  line-height: 43px;
  height: 42px;
  vertical-align: middle;
  margin-left: 3px;
}
/* line 60, ../../scss/users/_user_new_edit.scss */
.user_new .row, .user_edit .row {
  margin-top: 15px;
}
/* line 63, ../../scss/users/_user_new_edit.scss */
.user_new .row .left, .user_edit .row .left {
  width: 48%;
  display: inline-block;
}
/* line 68, ../../scss/users/_user_new_edit.scss */
.user_new .row .right, .user_edit .row .right {
  float: right;
  width: 48%;
  margin-right: 10px;
}
/* line 75, ../../scss/users/_user_new_edit.scss */
.user_new .row.modal_controls button, .user_edit .row.modal_controls button {
  float: none;
}
/* line 78, ../../scss/users/_user_new_edit.scss */
.user_new .row.modal_controls button:first-child, .user_edit .row.modal_controls button:first-child {
  margin-left: 0;
}

/* line 87, ../../scss/users/_user_new_edit.scss */
.user_edit .notes {
  width: 100%;
}

/* line 93, ../../scss/users/_user_new_edit.scss */
.user_new_ldap .check_username {
  float: right;
}

/* line 11, ../../scss/users/_user_show.scss */
.user_show {
  padding-left: 210px;
  /* LC width */
  padding-right: 200px;
  /* RC width */
  overflow: hidden;
}
/* line 16, ../../scss/users/_user_show.scss */
.user_show .user_info {
  width: 100%;
}
/* line 18, ../../scss/users/_user_show.scss */
.user_show .user_info .titleAndDepartment, .user_show .user_info .emailAddress, .user_show .user_info .admin, .user_show .user_info .notes {
  padding-bottom: 20px;
}
/* line 23, ../../scss/users/_user_show.scss */
.user_show .edit_photo {
  width: 190px;
  /* LC width */
  right: 210px;
  /* LC width */
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -100%;
}
/* line 30, ../../scss/users/_user_show.scss */
.user_show .edit_photo img {
  width: 150px;
}
/* line 35, ../../scss/users/_user_show.scss */
.user_show .workspaces {
  background: #e1e5e9;
  width: 180px;
  /* RC width */
  margin-right: -200px;
  /* RC width */
  padding-left: 10px;
  padding-right: 10px;
}
/* line 41, ../../scss/users/_user_show.scss */
.user_show .workspaces h2 {
  font-size: 13px;
  font-weight: normal;
  color: black;
  padding-left: 2px;
  padding-bottom: 5px;
}
/* line 47, ../../scss/users/_user_show.scss */
.user_show .workspaces img {
  display: inline;
}
/* line 51, ../../scss/users/_user_show.scss */
.user_show .workspaces li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  vertical-align: bottom;
  padding-left: 5px;
  display: inline-block;
  width: 140px;
}
/* line 61, ../../scss/users/_user_show.scss */
.user_show > div {
  padding-top: 10px;
  position: relative;
  float: left;
  padding-bottom: 20010px;
  /* X + padding-bottom */
  margin-bottom: -20000px;
  /* X */
}
/* line 69, ../../scss/users/_user_show.scss */
.user_show div.title {
  margin-bottom: 3px;
}

/* line 9, ../../scss/users/_profile.scss */
img.profile {
  background: white;
  padding: 2px;
  border: 1px solid #ccd2d7;
}

/* line 4, ../../scss/users/_change_password_dialog.scss */
.change_password {
  width: 440px;
}
/* line 7, ../../scss/users/_change_password_dialog.scss */
.change_password form {
  margin-left: 40px;
}
/* line 11, ../../scss/users/_change_password_dialog.scss */
.change_password input[name="password"] {
  margin-bottom: 12px;
}

/* line 5, ../../scss/users/_user_sidebar.scss */
.user_list_sidebar .info .full_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
