/* line 3, ../../scss/widgets/_comments.scss */
.comments {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 8, ../../scss/widgets/_comments.scss */
.comments > li .object {
  display: none;
}
/* line 12, ../../scss/widgets/_comments.scss */
.comments > li .author {
  font-size: 14px;
  font-weight: 600;
}
/* line 18, ../../scss/widgets/_comments.scss */
.comments li.more {
  display: none;
}
/* line 22, ../../scss/widgets/_comments.scss */
.comments .morelinks {
  padding: 8px;
  padding-top: 0;
}
/* line 25, ../../scss/widgets/_comments.scss */
.comments .morelinks a {
  font-size: 12px;
}
/* line 28, ../../scss/widgets/_comments.scss */
.comments .morelinks a.less {
  display: none;
}
/* line 35, ../../scss/widgets/_comments.scss */
.comments.more li.more {
  display: block;
}
/* line 40, ../../scss/widgets/_comments.scss */
.comments.more .morelinks a.less {
  display: inline;
}
/* line 45, ../../scss/widgets/_comments.scss */
.comments.more a.more {
  display: none;
}
/* line 50, ../../scss/widgets/_comments.scss */
.comments .icon {
  position: relative;
}
/* line 53, ../../scss/widgets/_comments.scss */
.comments .icon .insight_ribbon {
  white-space: nowrap;
  top: -18px;
}

/* line 9, ../../scss/widgets/_activity_list.scss */
.media, .media > .bd {
  overflow: hidden;
}

/* line 13, ../../scss/widgets/_activity_list.scss */
.media > .icon {
  float: left;
  margin-right: 8px;
}

/* line 18, ../../scss/widgets/_activity_list.scss */
.media > .icon img {
  display: block;
}

/* line 23, ../../scss/widgets/_activity_list.scss */
.activity_list_header .menus {
  float: right;
  margin-right: 10px;
}
/* line 27, ../../scss/widgets/_activity_list.scss */
.activity_list_header .menus .title {
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
}
/* line 31, ../../scss/widgets/_activity_list.scss */
.activity_list_header .menus a {
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px dotted #2c95dd;
}
/* line 36, ../../scss/widgets/_activity_list.scss */
.activity_list_header .menus a.active {
  color: black;
  border-bottom: none;
}
/* line 42, ../../scss/widgets/_activity_list.scss */
.activity_list_header .menus .separator {
  padding: 0 5px;
  position: relative;
  top: 2px;
  color: #2c95dd;
}
/* line 49, ../../scss/widgets/_activity_list.scss */
.activity_list_header .menus .badge {
  display: inline-block;
}

/* line 57, ../../scss/widgets/_activity_list.scss */
.activity_list .more_activities {
  font-size: 12px;
  padding: 8px 16px;
}
/* line 62, ../../scss/widgets/_activity_list.scss */
.activity_list .no_activity {
  font-size: 14px;
  font-weight: normal;
  color: #7d7d7d;
  padding: 0 8px;
}

/* line 69, ../../scss/widgets/_activity_list.scss */
.activity.unread {
  background: #ffface;
}
/* line 73, ../../scss/widgets/_activity_list.scss */
.activity .activity_item {
  padding: 8px;
  position: relative;
  overflow: visible;
}
/* line 78, ../../scss/widgets/_activity_list.scss */
.activity .activity_item img {
  width: 32px;
  height: 32px;
}
/* line 83, ../../scss/widgets/_activity_list.scss */
.activity .activity_item a[href=''], .activity .activity_item a:not([href]) {
  color: #7d7d7d;
  cursor: auto;
}
/* line 88, ../../scss/widgets/_activity_list.scss */
.activity .activity_item .insight_ribbon {
  padding: 0;
  position: absolute;
  left: -15px;
  top: -9px;
  z-index: 10;
  line-height: 11px;
  height: 22px;
}
/* line 97, ../../scss/widgets/_activity_list.scss */
.activity .activity_item .insight_ribbon .left {
  background: url(/images/ribbons/label_insight1.png) no-repeat;
  width: 6px;
  height: 22px;
  display: inline-block;
}
/* line 104, ../../scss/widgets/_activity_list.scss */
.activity .activity_item .insight_ribbon .center {
  font-size: 11px;
  font-weight: 600;
  color: white;
  background: url(/images/ribbons/label_insight2.png) repeat-x;
  height: 14px;
  display: inline-block;
  padding: 2px 8px 2px 8px;
  vertical-align: top;
  text-transform: uppercase;
}
/* line 114, ../../scss/widgets/_activity_list.scss */
.activity .activity_item .insight_ribbon .right {
  background: url(/images/ribbons/label_insight3.png) no-repeat;
  width: 8px;
  height: 22px;
  display: inline-block;
}

/* line 125, ../../scss/widgets/_activity_list.scss */
.comment_list .comments {
  background: #e1e5e9;
}

/* line 132, ../../scss/widgets/_activity_list.scss */
.activity_content ul.attachments img, .comment_content ul.attachments img {
  vertical-align: middle;
}
/* line 136, ../../scss/widgets/_activity_list.scss */
.activity_content ul.attachments li, .comment_content ul.attachments li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 141, ../../scss/widgets/_activity_list.scss */
.activity_content .name, .comment_content .name {
  font-size: 12px;
  font-weight: 600;
}
/* line 146, ../../scss/widgets/_activity_list.scss */
.activity_content .body, .comment_content .body {
  font-size: 13px;
  font-weight: normal;
  color: black;
  padding-bottom: 4px;
  word-wrap: break-word;
}
/* line 152, ../../scss/widgets/_activity_list.scss */
.activity_content .activity_header, .activity_content .comment_header, .comment_content .activity_header, .comment_content .comment_header {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: normal;
  color: #7d7d7d;
  line-height: 18px;
  padding-bottom: 4px;
}
/* line 157, ../../scss/widgets/_activity_list.scss */
.activity_content .activity_header .author, .activity_content .comment_header .author, .comment_content .activity_header .author, .comment_content .comment_header .author {
  font-weight: 600;
}
/* line 163, ../../scss/widgets/_activity_list.scss */
.activity_content .actions .timestamp, .comment_content .actions .timestamp {
  font-size: 12px;
  font-weight: normal;
  color: #7d7d7d;
  line-height: 20px;
}
/* line 168, ../../scss/widgets/_activity_list.scss */
.activity_content .actions .details, .comment_content .actions .details {
  padding-bottom: 4px;
}
/* line 171, ../../scss/widgets/_activity_list.scss */
.activity_content .actions .details a, .comment_content .actions .details a {
  font-size: 12px;
  font-weight: 600;
  color: #7d7d7d;
  color: #2c95dd;
}
/* line 177, ../../scss/widgets/_activity_list.scss */
.activity_content .actions a.delete_link, .comment_content .actions a.delete_link {
  font-size: 12px;
  font-weight: normal;
  color: #7d7d7d;
  display: none;
  border-left: solid 1px;
  padding-left: 5px;
  margin-left: 5px;
}
/* line 184, ../../scss/widgets/_activity_list.scss */
.activity_content .actions a.delete_link img, .comment_content .actions a.delete_link img {
  height: 12px;
  width: 12px;
  margin-bottom: 4px;
  vertical-align: middle;
}
/* line 193, ../../scss/widgets/_activity_list.scss */
.activity_content .links, .comment_content .links {
  padding: 4px 0;
  font-size: 12px;
  padding-bottom: 4px;
}
/* line 198, ../../scss/widgets/_activity_list.scss */
.activity_content .links a, .comment_content .links a {
  font-size: 12px;
}
/* line 202, ../../scss/widgets/_activity_list.scss */
.activity_content .links .separator, .comment_content .links .separator {
  position: relative;
  top: -1px;
  color: #2c95dd;
  margin: 0 2px;
}
/* line 210, ../../scss/widgets/_activity_list.scss */
.activity_content .promoted_by, .comment_content .promoted_by {
  font-size: 12px;
  font-weight: normal;
  color: #7d7d7d;
}

/* line 217, ../../scss/widgets/_activity_list.scss */
.popup_notifications li:hover .activity_content a.delete_link,
li .activity_content:hover a.delete_link,
li[data-activity-type=INSIGHT_CREATED] .activity_content:hover a.delete_link {
  display: inline;
}

/* line 221, ../../scss/widgets/_activity_list.scss */
.comment_content:hover a.delete_link {
  display: inline;
}

/* line 225, ../../scss/widgets/_activity_list.scss */
#sidebar .activity_heading {
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: black;
  color: #5f5f5f;
  font-size: 16px;
}

/* line 234, ../../scss/widgets/_activity_list.scss */
.activity_list.workspace_detail .comments, .activity_list.dashboard .comments {
  margin-left: 48px;
}
/* line 239, ../../scss/widgets/_activity_list.scss */
.activity_list.workspace_detail ul.activities > li, .activity_list.dashboard ul.activities > li {
  border-bottom: 1px dotted #b9bbbd;
  padding: 0 8px;
}
/* line 243, ../../scss/widgets/_activity_list.scss */
.activity_list.workspace_detail ul.activities > li.insight, .activity_list.dashboard ul.activities > li.insight {
  background: white;
  border-right: 1px dotted #b9bbbd;
  border-bottom: 1px dotted #b9bbbd;
}
/* line 247, ../../scss/widgets/_activity_list.scss */
.activity_list.workspace_detail ul.activities > li.insight .activity_item, .activity_list.dashboard ul.activities > li.insight .activity_item {
  padding-top: 12px;
}

/* line 255, ../../scss/widgets/_activity_list.scss */
.activity_list.dashboard {
  padding-top: 8px;
}
/* line 258, ../../scss/widgets/_activity_list.scss */
.activity_list.dashboard .heading {
  display: none;
}

/* line 264, ../../scss/widgets/_activity_list.scss */
#sidebar .activity_list li.insight {
  background: white;
}
/* line 266, ../../scss/widgets/_activity_list.scss */
#sidebar .activity_list li.insight .insight_ribbon {
  left: -5px;
}
/* line 280, ../../scss/widgets/_activity_list.scss */
#sidebar .activity_list li[data-activity-type=WORKSPACE_CREATED] .order,
#sidebar .activity_list li[data-activity-type=WORKSPACE_DELETED] .order,
#sidebar .activity_list li[data-activity-type=WORKFILE_CREATED] .order,
#sidebar .activity_list li[data-activity-type=WORKSPACE_MAKE_PRIVATE] .order,
#sidebar .activity_list li[data-activity-type=WORKSPACE_MAKE_PUBLIC] .order,
#sidebar .activity_list li[data-activity-type=WORKSPACE_ARCHIVED] .order,
#sidebar .activity_list li[data-activity-type=WORKSPACE_UNARCHIVED] .order,
#sidebar .activity_list li[data-activity-type=INSTANCE_CREATED] .order,
#sidebar .activity_list li[data-activity-type=USER_ADDED] .order,
#sidebar .activity_list li[data-activity-type=USER_DELETED] .order {
  display: inline;
}

/* line 289, ../../scss/widgets/_activity_list.scss */
#sidebar.instance_list_sidebar .activity_list .heading, #sidebar.workfile_show_sidebar .activity_list .heading {
  display: none;
}

/* line 1, ../../scss/widgets/_tab_control.scss */
.tabbed_area {
  margin-right: 10px;
}

/* line 4, ../../scss/widgets/_tab_control.scss */
.tab_control {
  margin: 13px 10px 16px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeff6), color-stop(100%, #d5e0eb));
  background-image: -webkit-linear-gradient(#eaeff6, #d5e0eb);
  background-image: -moz-linear-gradient(#eaeff6, #d5e0eb);
  background-image: -o-linear-gradient(#eaeff6, #d5e0eb);
  background-image: -ms-linear-gradient(#eaeff6, #d5e0eb);
  background-image: linear-gradient(#eaeff6, #d5e0eb);
  border-bottom: 1px solid #2c95dd;
}
/* line 9, ../../scss/widgets/_tab_control.scss */
.tab_control li {
  position: relative;
  padding: 0 7px;
  font-size: 14px;
  font-weight: 600;
  color: #5f5f5f;
  display: inline-block;
  color: #2c95dd;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}
/* line 21, ../../scss/widgets/_tab_control.scss */
.tab_control li.selected {
  background-image: none;
  color: white;
  background-color: #2c95dd;
}
/* line 25, ../../scss/widgets/_tab_control.scss */
.tab_control li.selected:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -8px;
  background: url("/images/blue_triangle.png") no-repeat bottom center;
}

/* line 3, ../../scss/widgets/_loading_section.scss */
.loading_text {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  min-height: 14px;
}

/* line 10, ../../scss/widgets/_loading_section.scss */
.workspace_detail .activity_list {
  padding: 8px 0;
}

/* line 14, ../../scss/widgets/_loading_section.scss */
.dashboard_workspace_list .loading_section {
  padding-top: 8px;
}

/* line 18, ../../scss/widgets/_loading_section.scss */
.loading_spinner {
  position: absolute;
  right: -10px;
  top: 7px;
}
/* line 22, ../../scss/widgets/_loading_section.scss */
.loading_spinner div[aria-role=progressbar] {
  right: 0;
}

/* line 3, ../../scss/widgets/_data_table.scss */
.data_table {
  overflow: hidden;
  position: relative;
  background: #eaeef2;
}
/* line 14, ../../scss/widgets/_data_table.scss */
.data_table .thead {
  position: absolute;
  top: 0;
  left: 0;
  background: #eaeef2;
  white-space: nowrap;
  z-index: 21;
}
/* line 23, ../../scss/widgets/_data_table.scss */
.data_table .tbody {
  position: absolute;
  top: 33px;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 20;
  overflow: auto;
  line-height: normal;
}
/* line 36, ../../scss/widgets/_data_table.scss */
.data_table .column {
  display: inline-block;
  overflow: hidden;
}
/* line 42, ../../scss/widgets/_data_table.scss */
.data_table .column[data-type="WHOLE_NUMBER"],
.data_table .column[data-type="REAL_NUMBER"] {
  text-align: right;
}
/* line 46, ../../scss/widgets/_data_table.scss */
.data_table .td, .data_table .th {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #a4a6a8;
}
/* line 52, ../../scss/widgets/_data_table.scss */
.data_table .th {
  position: relative;
  vertical-align: middle;
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
  display: inline-block;
  border-bottom: 1px solid #a4a6a8;
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
}
/* line 62, ../../scss/widgets/_data_table.scss */
.data_table .th .name {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 70, ../../scss/widgets/_data_table.scss */
.data_table .th:hover:first-child .name {
  width: 100px;
}
/* line 74, ../../scss/widgets/_data_table.scss */
.data_table .th a.move_to_first {
  position: absolute;
  top: 10px;
  right: 6px;
  display: none;
  width: 10px;
  height: 10px;
  background-image: url("/images/shuttle_left.png");
  background-repeat: no-repeat;
}
/* line 86, ../../scss/widgets/_data_table.scss */
.data_table .th:hover a.move_to_first {
  display: block;
}
/* line 90, ../../scss/widgets/_data_table.scss */
.data_table .th:hover .name {
  width: 90px;
}
/* line 96, ../../scss/widgets/_data_table.scss */
.data_table .th:first-child:hover a.move_to_first {
  display: none;
}
/* line 100, ../../scss/widgets/_data_table.scss */
.data_table .th:first-child:hover .name {
  width: 100px;
}
/* line 105, ../../scss/widgets/_data_table.scss */
.data_table .td {
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px dotted #d1d4d7;
  font-size: 14px;
  font-weight: normal;
  color: #5f5f5f;
}

/* line 3, ../../scss/widgets/_search.scss */
input.chorus_search {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  font-size: 14px;
  padding: 2px 4px 0px 29px;
  background: url("/images/search-icon.png") no-repeat 9px 3px;
  outline: none;
  background-color: white;
  border-color: #d1d4d7;
  margin: 0;
  line-height: 18px;
  vertical-align: top;
}

/* line 16, ../../scss/widgets/_search.scss */
div.chorus_search_container {
  position: relative;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

/* line 23, ../../scss/widgets/_search.scss */
a.chorus_search_clear {
  position: absolute;
  top: 3px;
  right: 4px;
  line-height: 12px;
}

/* line 4, ../../scss/widgets/_schema_picker.scss */
.schema_picker div {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, ../../scss/widgets/_schema_picker.scss */
.schema_picker a {
  font-size: 13px;
}
/* line 14, ../../scss/widgets/_schema_picker.scss */
.schema_picker select {
  display: block;
  width: 350px;
}
/* line 19, ../../scss/widgets/_schema_picker.scss */
.schema_picker .instance .header_container {
  margin-top: 0;
}
/* line 23, ../../scss/widgets/_schema_picker.scss */
.schema_picker .header_container {
  margin-top: 15px;
  margin-bottom: 3px;
}
/* line 27, ../../scss/widgets/_schema_picker.scss */
.schema_picker .header_container a {
  float: right;
  margin-top: 8px;
}
/* line 33, ../../scss/widgets/_schema_picker.scss */
.schema_picker .unavailable {
  font-size: 13px;
  font-weight: normal;
  color: black;
}
/* line 38, ../../scss/widgets/_schema_picker.scss */
.schema_picker .create_container input {
  margin: 0;
  width: 350px;
}
/* line 43, ../../scss/widgets/_schema_picker.scss */
.schema_picker .create_container a.cancel {
  display: none;
}
/* line 48, ../../scss/widgets/_schema_picker.scss */
.schema_picker .create_container.show_cancel_link input {
  width: 285px;
}
/* line 52, ../../scss/widgets/_schema_picker.scss */
.schema_picker .create_container.show_cancel_link a.cancel {
  display: inline;
  float: right;
  line-height: 28px;
}
