/* line 5, ../../scss/workfiles/_pick_workspace_dialog.scss */
.pick_workspace .picklist {
  min-width: 315px;
  max-width: 600px;
}
/* line 10, ../../scss/workfiles/_pick_workspace_dialog.scss */
.pick_workspace.dialog .dialog_content {
  padding: 0;
}
/* line 14, ../../scss/workfiles/_pick_workspace_dialog.scss */
.pick_workspace .modal_controls {
  margin: 0;
  padding: 14px;
  border-top: 1px solid #a4a6a8;
}

/* line 312, ../../scss/_common.scss */
ul.workfile_list .comment .body {
  font-size: 14px;
  font-weight: normal;
  color: #5f5f5f;
}
/* line 316, ../../scss/_common.scss */
ul.workfile_list .comment .user {
  font-size: 13px;
  font-weight: 600;
}
/* line 321, ../../scss/_common.scss */
ul.workfile_list .comment .comment_info {
  font-size: 13px;
  color: #959595;
}

/* line 4, ../../scss/workfiles/_workfile_new.scss */
.workfiles_sql_new input[name=fileName] {
  width: 343px;
  display: inline;
}

/* line 5, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_header a.workfile_list {
  display: block;
  font-size: 13px;
}
/* line 10, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_header h1 {
  padding: 13px 0 5px;
}
/* line 15, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details {
  background: #b3d988;
  height: 31px;
  line-height: 30px;
  vertical-align: middle;
  color: #4e7225;
}
/* line 22, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details button {
  margin-left: 0;
  color: #4e7225;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #98b675;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  background: none;
  margin-bottom: 2px;
}
/* line 300, ../../scss/_common.scss */
#page[data-page=WorkfileShow] .content_details button[disabled=disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 30, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details .save {
  float: right;
}
/* line 33, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details .save span.view {
  margin-right: 0;
  font-size: 11px;
}
/* line 38, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details .save span.auto_save {
  margin-right: 10px;
  font-size: 12px;
  color: #959595;
  font-weight: normal;
}
/* line 46, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details .down_arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #aaa;
  margin: 0 0 2px 8px;
  display: inline-block;
}
/* line 56, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content_details .execution_schema {
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
  color: #4e7225;
  display: inline;
  padding-left: 10px;
}
/* line 64, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .content {
  width: 100%;
  height: 100%;
}
/* line 69, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .CodeMirror-scroll {
  height: auto;
  overflow-y: visible;
  overflow-x: auto;
  width: 100%;
}
/* line 76, ../../scss/workfiles/_workfile_show.scss */
#page[data-page=WorkfileShow] .CodeMirror.editable {
  background: white;
}

/* line 82, ../../scss/workfiles/_workfile_show.scss */
.save_menu li, .run_menu li, .schema_menu li {
  padding: 5px;
}
/* line 85, ../../scss/workfiles/_workfile_show.scss */
.save_menu li a, .save_menu li span, .run_menu li a, .run_menu li span, .schema_menu li a, .schema_menu li span {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  vertical-align: middle;
  color: black;
}
/* line 90, ../../scss/workfiles/_workfile_show.scss */
.save_menu li a:hover, .run_menu li a:hover, .schema_menu li a:hover {
  text-decoration: underline;
}
/* line 95, ../../scss/workfiles/_workfile_show.scss */
.save_menu li span.run_default, .run_menu li span.run_default, .schema_menu li span.run_default {
  color: #959595;
}
/* line 99, ../../scss/workfiles/_workfile_show.scss */
.save_menu li span.disabled, .run_menu li span.disabled, .schema_menu li span.disabled {
  color: #959595;
}
/* line 103, ../../scss/workfiles/_workfile_show.scss */
.save_menu li .menu_shortcut, .run_menu li .menu_shortcut, .schema_menu li .menu_shortcut {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  vertical-align: middle;
  color: black;
  color: #959595;
  float: right;
  padding-left: 60px;
}

/* line 6, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import {
  width: 440px;
}
/* line 10, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .details {
  padding-top: 5px;
}
/* line 13, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .details span, .workfiles_import form .details label, .workfiles_import form .details input[type=file] {
  display: inline-block;
}
/* line 17, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .details img {
  float: left;
  vertical-align: middle;
  visibility: hidden;
}
/* line 23, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .details .file {
  padding-left: 39px;
}
/* line 25, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .details .file .choose {
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
  border: 1px solid #d0d0d0;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  background: none;
  margin-bottom: 2px;
}
/* line 300, ../../scss/_common.scss */
.workfiles_import form .details .file .choose[disabled=disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 32, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form div.comment {
  padding: 3px 0 5px 0;
  margin-left: 35px;
  visibility: hidden;
}
/* line 38, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .errors {
  width: 100%;
}
/* line 42, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form label {
  text-align: right;
}
/* line 46, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form label, .workfiles_import form input[type=file] {
  color: #2c95dd;
}
/* line 48, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form label:hover, .workfiles_import form input[type=file]:hover {
  cursor: pointer;
}
/* line 53, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .defaultText {
  font-size: 14px;
  font-weight: normal;
  color: #5f5f5f;
  padding-left: 12px;
}
/* line 58, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form .fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7d7d7d;
  font-size: 14px;
  vertical-align: middle;
  line-height: 26px;
  min-height: 26px;
}
/* line 69, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form.chosen img {
  visibility: visible;
}
/* line 73, ../../scss/workfiles/_workfiles_import.scss */
.workfiles_import form.chosen .comment {
  visibility: visible;
}

/* line 5, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_list_sidebar .info .fileName, .workfile_show_sidebar .info .fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: black;
}
/* line 10, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_list_sidebar .info .updated, .workfile_show_sidebar .info .updated {
  color: #959595;
  font-size: 12px;
  margin-top: 5px;
}
/* line 16, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_list_sidebar .info .fileName, .workfile_show_sidebar .info .fileName {
  margin-bottom: 10px;
}

/* line 24, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_list_sidebar .info {
  margin-bottom: 20px;
}
/* line 29, ../../scss/workfiles/_workfile_sidebar.scss */
html.ie8 .workfile_list_sidebar button {
  font-size: 15px;
}

/* line 37, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_show_sidebar .info {
  margin: 5px 0 20px 0;
}
/* line 41, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_show_sidebar .display_title {
  font-size: 12px;
  font-weight: 600;
  color: #5f5f5f;
}
/* line 45, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_show_sidebar .version_list {
  font-size: 12px;
  margin-left: 3px;
}
/* line 48, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_show_sidebar .version_list span {
  color: #2c95dd;
  border-bottom: 1px dotted #2c95dd;
  color: #2c95dd;
}
/* line 54, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_show_sidebar .version_list img {
  margin: 2px;
}

/* line 62, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li a {
  padding-top: 10px;
  display: inline-block;
}
/* line 67, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li:first-child a {
  /* qtip has some top padding already */
  padding-top: 6px;
}
/* line 72, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li:last-child .spacer {
  border-bottom: none;
}
/* line 77, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li:hover .version_title {
  text-decoration: underline;
}
/* line 82, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li img {
  display: inline-block;
  vertical-align: top;
}
/* line 87, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li .version_info {
  display: inline-block;
  width: 80%;
}
/* line 92, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li .version_title {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  vertical-align: middle;
  color: black;
}
/* line 96, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li .version_details {
  margin-top: 2px;
  font-size: 12px;
  font-weight: normal;
  color: #7d7d7d;
  padding-bottom: 10px;
}
/* line 102, ../../scss/workfiles/_workfile_sidebar.scss */
.workfile_version_list li .spacer {
  border-bottom: 1px dotted #d1d4d7;
}

/* line 108, ../../scss/workfiles/_workfile_sidebar.scss */
ul.schema_menu {
  overflow: auto;
  max-height: 300px;
}
/* line 112, ../../scss/workfiles/_workfile_sidebar.scss */
ul.schema_menu li {
  margin: 2px 4px 0px 8px;
}
/* line 115, ../../scss/workfiles/_workfile_sidebar.scss */
ul.schema_menu li .check {
  background-repeat: no-repeat;
  background-image: url("/images/check.png");
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  margin-left: -14px;
  position: relative;
  top: 1px;
}
/* line 126, ../../scss/workfiles/_workfile_sidebar.scss */
ul.schema_menu li .check.hidden {
  visibility: hidden;
}
/* line 131, ../../scss/workfiles/_workfile_sidebar.scss */
ul.schema_menu li a {
  cursor: pointer;
}

/* line 2, ../../scss/workfiles/_results_console.scss */
.results_console .execution {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 10px;
  background: #e1e5e9;
  border-bottom: 1px solid #ccd2d7;
}
/* line 10, ../../scss/workfiles/_results_console.scss */
.results_console .execution h1 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  display: inline-block;
  padding-right: 10px;
}
/* line 16, ../../scss/workfiles/_results_console.scss */
.results_console .execution a {
  font-size: 12px;
  font-weight: 600;
}
/* line 21, ../../scss/workfiles/_results_console.scss */
.results_console .execution .controls {
  float: right;
  margin-left: 10px;
}
/* line 25, ../../scss/workfiles/_results_console.scss */
.results_console .execution .controls .separator {
  margin: 0 5px;
}
/* line 29, ../../scss/workfiles/_results_console.scss */
.results_console .execution .controls.collapsed .separator {
  display: none;
}
/* line 35, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right {
  float: right;
}
/* line 38, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .message {
  font-size: 12px;
  font-weight: normal;
  color: #5f5f5f;
}
/* line 42, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info {
  display: none;
}
/* line 45, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info .elapsed_time {
  font-size: 12px;
  font-weight: normal;
  color: #5f5f5f;
}
/* line 49, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info .spinner {
  display: inline-block;
  width: 25px;
}
/* line 53, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info .spinner div[aria-role=progressbar] {
  left: 13px;
  top: -3px;
}
/* line 59, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info .task_loading {
  font-size: 12px;
  font-weight: normal;
  color: #5f5f5f;
  display: inline-block;
}
/* line 64, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info .separator {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 69, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right .execution_info .cancel {
  font-weight: normal;
}
/* line 75, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right.executing .message {
  display: none;
}
/* line 79, ../../scss/workfiles/_results_console.scss */
.results_console .execution .right.executing .execution_info {
  display: inline;
}
/* line 86, ../../scss/workfiles/_results_console.scss */
.results_console .result_table {
  clear: both;
}
/* line 90, ../../scss/workfiles/_results_console.scss */
.results_console .actions {
  color: white;
  float: right;
}
/* line 94, ../../scss/workfiles/_results_console.scss */
.results_console .actions a {
  float: none;
}
/* line 99, ../../scss/workfiles/_results_console.scss */
.results_console .bottom_gutter {
  background: white;
  height: 20px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid #b9bbbd;
  line-height: 16px;
}
/* line 108, ../../scss/workfiles/_results_console.scss */
.results_console .expander_button {
  cursor: pointer;
  background: #eaeef2;
  width: 30px;
  height: 15px;
  display: inline-block;
  border: 1px solid #b9bbbd;
  border-top: none;
  margin-top: -4px;
  text-align: center;
  vertical-align: middle;
}
/* line 123, ../../scss/workfiles/_results_console.scss */
.results_console .expander_button .arrow {
  display: inline-block;
  margin-bottom: 2px;
}
/* line 128, ../../scss/workfiles/_results_console.scss */
.results_console .expander_button .up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  /* left arrow slant */
  border-right: 5px solid transparent;
  /* right arrow slant */
  border-bottom: 5px solid #959595;
  /* bottom, add background color here */
  font-size: 0px;
  line-height: 0px;
}
/* line 138, ../../scss/workfiles/_results_console.scss */
.results_console .expander_button .down {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #959595;
  font-size: 0px;
  line-height: 0px;
}
/* line 149, ../../scss/workfiles/_results_console.scss */
.results_console .minimized .data_table {
  height: 200px;
  width: 100%;
}
/* line 154, ../../scss/workfiles/_results_console.scss */
.results_console .collapsed .data_table {
  display: none;
}
/* line 158, ../../scss/workfiles/_results_console.scss */
.results_console .maximized .data_table {
  height: 500px;
  width: 100%;
}

/* line 1, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema {
  width: 452px;
}
/* line 4, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .sandbox_schema {
  padding-left: 15px;
}
/* line 7, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .sandbox_schema label {
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  vertical-align: middle;
  color: black;
}
/* line 11, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .sandbox_schema .name {
  font-size: 13px;
  font-weight: normal;
  color: black;
  padding: 5px 0 5px 22px;
}
/* line 17, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .another_schema {
  padding-top: 8px;
}
/* line 20, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .another_schema.collapsed {
  border: none;
}
/* line 21, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .another_schema.collapsed > div {
  display: none;
}
/* line 30, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .modal_controls {
  margin-top: 15px;
}
/* line 34, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema .schema_picker {
  padding: 0 20px;
}
/* line 38, ../../scss/workfiles/_run_file_in_schema.scss */
.run_file_in_schema label.disabled {
  color: #959595;
}

/* line 10, ../../scss/workfiles.scss */
.image_workfile_content {
  background: white;
}
/* line 13, ../../scss/workfiles.scss */
.image_workfile_content img {
  max-width: 100%;
}
