.instance_usage {
    .total_usage {
        border-bottom: 1px solid $menu-border-color;
    }

    li {
        border-bottom: $dotted-list-item-border;
        margin-top: 8px;
        position: relative;
        
        .image_container {
            display: inline-block;
            width: 45px;
            height: 85px;
            vertical-align: top;
            text-align: middle;
        }

        .details {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            left: 55px;
        }

        .workspace_link {
            font-size: 18px;
            font-weight: $semibold;
        }

        .pair {
            font-size: 13px;
            padding-top: 4px;
            display: block;
        }

        .key {
            display: inline-block;
            color: $color-text2;
        }

        .value {
            float: right;
            max-width: 200px;
            text-align: right;
            @include ellipsis;
        }
    }

    .usage_bar {
        height: 15px;
        width: 100%;
        background: red;
    }

    .used {
        height: 100%;
        background: blue;
    }
}