@import "common.scss";

.dialog.instances_new {
    $dialog-width : 515px;

    width: $dialog-width;

    fieldset.collapsed {
        >div {
            display: none;
        }

        border: none;
        padding: 0 $dialog-padding;
        margin-left: 1px;
    }

    fieldset {
        $fieldset-width : $dialog-width - 4 * $dialog-padding - 2px;
        $hostname_width : 320px;
        $account_width : 210px;
        $input-spacing : 12px;
        $size_width : 75px;

        label[name=host], input[name=host] {
            width: $hostname-width;
        }

        label[name=port], input[name=port] {
            width: $fieldset-width - $hostname_width - $dialog-padding - 4px;
            margin-left: $input-spacing;
        }

        label[name=dbUserName], input[name=dbUserName],
        label[name=databaseName], input[name=databaseName] {
            width: $account-width;
        }

        label[name=size] {
            width: $fieldset-width;
        }

        input[name=size] {
            width: $size_width;
        }

        label[name=dbPassword], input[name=dbPassword],
        label[name=schemaName], input[name=schemaName] {
            width: $fieldset-width - $account_width - $dialog-padding - 4px;
            margin-left: $input-spacing;
        }

        img.help {
                display: inline-block;
                margin-top: -3px;
                vertical-align: middle;
        }

        .disabled {
            color : $weak-text-color;
        }
    }
}