@import "common.scss";

#dialog.instances_new {
    fieldset.collapsed {
        >div {
            display: none;
        }

        border: none;
    }

    fieldset {
        border: 1px solid $border-color;

        legend label {
            font-size: 14px;
            font-weight: normal;
            color: black;
        }
    }
}