---
http_interactions:
- request:
    method: post
    uri: https://www.kaggle.com/connect/chorus-beta/message
    body:
      encoding: US-ASCII
      string: <SUPPRESSED_KAGGLE_API_KEY>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"status\": 200,\r\n  \"sent\": [],\r\n  \"failed\": [\r\n\
        \    99999999\r\n  ]\r\n}"
  recorded_at: Thu, 18 Oct 2012 21:04:10 GMT
recorded_with: VCR 2.1.1
...
