<div class="menus">
    <span class="title">Show:</span>
    <a href="#" class="all active">{{t "filter.all_activity"}}</a>
    <span class="separator">|</span>
    <a href="#" class="insights">{{t "filter.only_insights"}}</a>

    <div class="badge">
        <div class="left"/><div class="center">{{ count }}</div><div class="right"/>
    </div>
</div>

<h1>{{title}}</h1>

