<div>
    <img src="{{{imageUrl}}}"/>
</div>
<div>
    <div class="activity_header">
        {{{headerHtml}}}
    </div>
    <div class="body">{{body}}</div>
    <div class="timestamp">{{timestamp}}</div>
</div>