{{> errorDiv }}
<div class="guts">
    <div class="content">
        <div class="right">
            <img src="images/message_icon.png"/>
        </div>
        <div class="left">
            <h1>{{title}}</h1>
            <p>{{text}}</p>
        </div>
    </div>
    <div class="modal_controls">
        <button type="button" class="cancel" tabindex=2>{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex=1>{{ok}}</button>
    </div>
</div>