<ol>
{{#each breadcrumbs}}
    <li class="breadcrumb">
        {{#if url}}
            <a href="#{{url}}">{{label}}</a>
            <span class="spacer"/>
        {{else}}
            <span class="slug">{{label}}</span>
        {{/if}}
    </li>
{{/each}}
</ol>