<select>
    {{#each models}}
        <option value="{{quotedName}}" data-cid="{{model.cid}}" data-aliased-name="{{model.tabularData.aliasedName}}" {{#if disable}}disabled="disabled"{{/if}}>{{name}}</option>
    {{/each}}
</select>