<select>
    {{#each models}}
        <option value="{{quotedName}}" data-cid="{{model.cid}}" data-dataset-number="{{model.tabularData.datasetNumber}}" {{#if disable}}disabled="disabled"{{/if}}>{{name}}</option>
    {{/each}}
</select>