{{#each models}}
    <li>
        <span class="spacer left"></span>
        <div class="text">
            <div class="main">
                <span class="name">{{name}}</span>
            </div>
            <div class="summary">{{comment}}</div>
        </div>
        <span class="spacer right"></span>
    </li>
{{/each}}
