<div/>

<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99" disabled="disabled">{{t "dataset.upload_file"}}</button>
</div>
