<fieldset>
    <legend>{{t "dataset.visualization.sidebar.chart_display_settings"}}</legend>

    <div class="value">
    </div>
    <div class="category">
    </div>
    <button class="create dialog" data-chart_type="{{{chartType}}}" data-name="{{{tableName}}}" data-dialog="Visualization">{{t "dataset.visualization.sidebar.create_chart"}}</button>
</fieldset>