{{#if objectName}}
    <div class="info">
        <div title="{{objectName}}" class="name">{{objectName}}</div>
    </div>
{{/if}}

<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"/>
    <div class="database_function_list"/>
    <div class="datasets_and_columns">
        <div class="database_dataset_list"/>
        <div class="database_column_list hidden"/>
    </div>
</div>
