<div class="brackets">
    <div class="brackets_top"></div>
    <div class="brackets_bottom"></div>
</div>
<select class="column_filter">
    {{#each models}}
        <option value="{{name}}" {{#if disable}}disabled="disabled"{{/if}}>{{name}}</option>
    {{/each}}
</select>
<span class="remove">X</span>