<li data-cid='{{cid}}'>
    <div class="sidebar_row">
        <a href="#" class="remove">{{t "dataset.chorusview.sidebar.remove"}}</a>
        <div class="name" title="{{{name}}}">{{name}}</div>
    </div>
</li>