<div class="definition">
    <button class="transform">{{t "dataset.content_details.transform"}}<span class="down_arrow"/></button>
    <div class="transform_options hidden">
        <ul class="transform_menu">
            <li><a href="#" class="visualize">{{t "dataset.content_details.visualize"}}</a></li>
        </ul>
    </div>
    
</div>
<div class="column_count">
    <span class="count">{{t "dataset.column_count" count=models.length}}</span>
</div>