{{#each models}}
    <li>
        <span class="spacer left"/>
        <img src="{{iconUrl}}"/>
        <a class="name" href="{{showUrl}}">{{name}}</a>
        <span class="size">{{humanSize}}</span>
        <span class="spacer right"/>
    </li>
{{/each}}