<div class="info">
    <div title="{{fileName}}" class="file_name">{{fileName}}</div>
</div>
<div class="actions">
    <ul>
        <li><a class="dialog" href="#" data-entity-id="{{encodedEntityId}}" data-entity-type="hdfs" data-allow-workspace-attachments="false" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
    </ul>
</div>
<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"/>
</div>
