<div class="logo">
    <a href="#/">Greenplum <em>Chorus</em></a>
</div>
<div class="messages">
    Messages
    <a href="#" class="alerts" title="alerts">2</a>
</div>
<div class="search">
    <input type="text" class="search"/>
</div>
<div class="username">{{fullName}}</div>
<div class="account">Account</div>