<div class="logo">
    <a href="#/">Greenplum <em>Chorus</em></a>
</div>
<div class="messages">
    Messages
    <a href="#" class="alerts" title="alerts">2</a>
</div>
<div class="search">
    <input type="text" class="search" placeholder="Search Chorus for datasets, workspaces, people and tags"/>
</div>
<div class="right">
    <div class="username">{{fullName}}</div>
    <div class="account">Account</div>
</div>