<div class="spinner_container">
    <img {{#if hasImage}} src="{{imageUrl}}" {{/if}}/>
</div>
<div class="file-wrapper">
    <input type="file"/>
    <a class="action" href="#">{{#if hasImage}}{{t changeImageKey}}{{else}}{{t addImageKey}}{{/if}}</a>
</div>
