<span class="spacer"></span>
<div class="images">
    <img class="state" src="{{{stateUrl}}}"/>
    <img class="provider" src="{{{providerUrl}}}"/>
</div>
<div class="instance_details">
    <div class="name">{{name}}</div>
    <div class="description">{{description}}</div>
</div>
<span class="spacer"></span>