{{#if loaded}}
    <div class="count">
        <span class="number">{{models.length}}</span> {{pluralize models.length "instance"}}
    </div>
{{else}}
    <div class="loading">{{t "loading"}}</div>
{{/if}}