{{#if instance}}
<div class="info">
    <div class="instance_name" title={{instance.name}}>{{instance.name}}</div>
    <div class="instance_type" title={{instance.instanceProvider}}>{{instance.instanceProvider}}</div>
</div>
{{/if}}