{{#if name}}
<div class="info">
    <div class="instance_name" title="{{name}}">{{name}}</div>
    <div class="instance_type" title="{{instanceProvider}}">{{instanceProvider}}</div>
</div>
<div class="tab_control"></div>
<div class="tabbed_area">
    <div class="activity_list"></div>
    <div class="configuration_detail"></div>
</div>
{{/if}}