{{#if name}}
<div class="info">
    <div class="instance_name" title="{{name}}">{{name}}</div>
    <div class="instance_type" title="{{instanceProvider}}">{{instanceProvider}}</div>
</div>
<div class="activity_list"></div>
{{/if}}