<div class='instance_provider greenplum_instance'>
    <div class="details">
        Registered Greenplum Instances
    </div>
    <ul class="list"></ul>
    <div class="no_instances">{{t "instances.none"}}</div>
</div>

<div class="instance_provider hadoop_instance">
    <div class="details">
        Registered Hadoop Instances
    </div>
    <ul class="list"></ul>
    <div class="no_instances">{{t "instances.none"}}</div>
</div>

<div class="instance_provider other_instance">
    <div class="details">
        Other Instances
    </div>
    <ul class="list"></ul>
    <div class="no_instances">{{t "instances.none"}}</div>
</div>