<div id="header"/>

<div class="invalid_route_box">
    <div class="title">{{t "invalid_route.title"}}</div>
    <div class="content">
        <div class="text">{{t "invalid_route.content"}}</div>
        <button class="submit">{{t "invalid_route.home"}}</button>
    </div>
</div>