{{t "filter.show"}}
<a href="#">
    <span>{{t "filter.all_workspaces"}}</span>
    <img src="/images/blue-menu-triangle.png"/>
</a>

<div class="menu hidden popup_filter">
    <div class="pointer"/>
    <ul>
        <li data-type="active">
            <div class="check"></div>
            <a href="#">{{t "filter.active_workspaces"}}</a>
        </li>
        <li data-type="all">
            <div class="check"></div>
            <a href="#">{{t "filter.all_workspaces"}}</a>
        </li>
    </ul>
</div>
