<span class="title">{{title}}</span>
<a class="popup" href="#">
    <span class="chosen">{{chosen}}</span>
    <img src="/images/blue-menu-triangle.png"/>
</a>

<div class="menu hidden popup_filter">
    <div class="pointer"/>
    <ul>
        {{#each options}}
            <li data-type="{{data}}">
                <div class="check"></div>
                <a href="#">{{text}}</a>
            </li>
        {{/each}}
    </ul>
</div>
