{{t "filter.show"}}
<a href="#">
    <span>{{t "filter.all_workspaces"}}</span>
    <img src="/images/blue-menu-triangle.png"/>
</a>

<div class="menu hidden popup_filter">
    <div class="pointer"/>
    <ul>
        {{#each options}}
            <li data-type="{{data}}">
                <div class="check"></div>
                <a href="#">{{text}}</a>
            </li>
        {{/each}}
    </ul>
</div>
