<div id="header"/>
<div id="breadcrumbs"/>
<div id="help">
    <a href='#'>{{t "help.link"}}</a>
</div>
<div id="guts">
    <div id="sidebar_wrapper">
        <div id="sidebar"><div class="sidebar_content primary"/><div class="sidebar_content secondary hidden"/></div>
        <div class="jump_to_top">
            <div class="triangle_up"/>
        </div>
    </div>
    <div id="left">
        <ul  id="sub_nav"/>
        <div id="main_content"/>
    </div>
</div>
