<div id="header"/>
<div id="breadcrumbs"/>
<div id="guts">
    <div id="main_content"/>
    <div id="sidebar">
        {{#ifAdmin}}
            <button class="add_user">Add a User</button>
        {{/ifAdmin}}
    </div>
</div>
