<img class="logo" src="images/logo-large.png"></img>
<div class="card">
<h1>Login to Chorus</h1>
{{> errorDiv }}
<form class="login" action="/edc/auth/login/" method="post">
    <div class="content">
        <label for="userName">Username</label>
        <input type="text" name="userName" id="userName"/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div class="controls">
        <button type="submit">Login</button>
    </div>
</form>
</div>
<footer>
<div class="legal">
    &copy; Copyright 2011 <a href="http://www.greenplum.com">Greenplum</a>. All rights reserved.
</div>
<div class="version">Version: 0.9.0</div>
</footer>