<div class="heading">
    <div class="order">
        <span class="order_by">{{t "ordering.order_by"}}</span>
        <span class="most_recent">{{t "ordering.most_recent"}}</span>
    </div>

    <h1>{{activityType}}</h1>
</div>
<ul class="activities"/>