<div class="row file_details hidden">
    <span class="label"></span>
    <span>
        <img class="icon" />
        <span class="file_name"></span>
        <a href="#" class="remove">{{t "actions.remove"}}</a>
        <span class="progress_bar hidden"><span></span></span>
        <span class="upload_finished hidden">{{t "notes.new_dialog.done"}}</span>
    </span>
</div>