<div class="user_lists">
    <ul class="picked_users"/>

    <div class="dropdown">
        <select class="users">
            <option/>
            {{#each models}}
            <option value="{{id}}">{{displayNameFromPerson this}}</option>
            {{/each}}
        </select>
    </div>

    <a href="#" class="add_user">{{t "notification_recipient.add_user"}}</a>
</div>