<div class="user_lists">
    <ul class="picked_users"/>

    <div class="dropdown">
        <select class="users"/>
    </div>

    <a href="#" class="add">{{t "notification_recipient.add_user"}}</a>
</div>