<fieldset>
    <form>
        <div class="instance_mode"></div>
    </form>
</fieldset>
<div class="modal_controls">
    <label class="required"/><label>{{t "validation.required_field"}}</label>
    <button type="button" class="cancel" tabindex=2>{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex=1>{{t "sandbox.create_sandbox"}}</button>
</div>
