<div class="instance">
    <div class="header_container">
        <label class="required">{{t "sandbox.select.instance"}}</label>
    </div>

    <input class="name" name="instanceName"></input>
</div>
<div class="size">
    <div class="header_container">
        <label class="required">{{t "sandbox.dialog.size"}}</label>
    </div>

    <input name="size"></input>
</div>
<div class="database">
    <div class="header_container">
        <label class="required">{{t "sandbox.select.database"}}</label>
    </div>

    <input class="name" name="databaseName"></input>
</div>
<div class="schema">
    <div class="header_container">
        <label class="required">{{t "sandbox.select.schema"}}</label>
    </div>

    <input class="name" name="schemaName"></input>
</div>
