{{#each models}}
    <li class="schema">
        <span class="spacer_left"/>
        <img src="/images/instances/greenplum_schema.png"/>
        <a class="name" href="{{showUrl}}">{{name}}</a>
        <span class="spacer_right"/>
    </li>
{{/each}}