{{#each models}}
    <li class="schema">
        <span class="spacer_left"/>
        <img src="/images/instances/greenplum_schema.png"/>
        <div class="main_text">
            <a class="name" href="{{showUrl}}">{{name}}</a>
            <div class="description">
                {{t "entity.name.Dataset" count=datasetCount}}
            </div>
        </div>
        <span class="spacer_right"/>
    </li>
{{/each}}