{{#if hasThisWorkspace}} <div class="this_workspace"></div> {{/if}}
{{#if hasWorkfile}}      <div class="workfile"></div>       {{/if}}
{{#if hasHdfs}}          <div class="hdfs"></div>           {{/if}}
{{#if hasDataset}}       <div class="dataset"></div>        {{/if}}
{{#if hasInstance}}      <div class="instance"></div>       {{/if}}
{{#if hasWorkspace}}     <div class="workspace"></div>      {{/if}}
{{#if hasUser}}          <div class="user"></div>           {{/if}}
