<div class="spacer left"></div>
<img class="icon" src="{{iconUrl}}"></img>
<div class="description">
    <a class="name" href="{{showUrl}}">{{{displaySearchMatch "name"}}}</a>
    <div class="description_content">{{#if description}}&#8220;{{{displaySearchMatch "description"}}}&#8221;{{/if}}</div>
    <div class="comments_container"/>
</div>
<div class="spacer right"></div>
