<div class="this_workspace"></div>
<div class="workfile_list"></div>
<div class="attachment_list"></div>
<div class="hdfs_list"></div>
<div class="dataset_list"></div>
<div class="instance_list"></div>
<div class="workspace_list"></div>
<div class="user_list"></div>
