<div class="spacer_left"></div>
<div class="images">
    <img class="state" src="{{stateUrl}}" title="{{stateText}}"/>
    <img class="provider" src="{{iconUrl}}"/>
</div>
<div class="description">
    <span class="name">{{{displaySearchMatch "name"}}}</span>
    <div class="comments_container"/>
</div>
<div class="spacer_right"></div>
