{{#if hasWorkfile}}
    <div class="workfile_list"></div>
{{/if}}
{{#if hasDataset}}
    <div class="dataset_list"></div>
{{/if}}
{{#if hasWorkspace}}
    <div class="workspace_list"></div>
{{/if}}
{{#if hasUser}}
    <div class="user_list"></div>
{{/if}}
{{#if hasHdfs}}
    <div class="hdfs_list"></div>
{{/if}}
