<div class="preview_bar">
    <button class="preview">{{t "dataset.data_preview"}}</button>
</div>
<div class="results_console"></div>
<div class="sql">
    <textarea class="text_editor">{{query}}</textarea>
</div>
<div class="modal_controls">
    <button class="cancel">{{t "actions.close_window"}}</button>
</div>
