<p>colors</p>
<p>text is black by default</p>

<p class="dark_text_color">This is "dark text color" - #5f5f5f</p>
<p class="secondary_text_color">This is "secondary text color" - #7D7D7D</p>
<p class="weak_text_color">This is "weak text color" - #959595</p>

<p><a href="google.com">This is a defualt link - #2c95dd</a></p>
<p><a class="weak_link_color" href="google.com">This is a weak link - #4e85c1</a></p>

<p>We should work to define rules for typography</p>
<p>when color are "10% lighter than this color", we can work just as easily like that</p>

<hr/>
<p>Font Mixins</p>

<p class="heading_normal">This is the heading-normal mixin</p>
<p class="heading_sidebar">This is the heading-sidebar mixin</p>
<p class="dialog_label">This is the dialog-label mixin</p>

