<ul class="nav">
    <li class="datasets">{{t "workspace.datasets"}}</li>
    <li class="workfiles">{{t "workspace.workfiles"}}</li>
    <li class="summary">{{t "workspace.summary"}}</li>
</ul>
<div class="subnav_header">
    <h1></h1>
</div>