<div id="header"/>

<div class="unauthorized_box">
    <div class="title">{{title}}</div>
    <div class="content">
        <div class="text">{{text}}</div>
        <button class="submit">{{t "unauthorized.home"}}</button>
    </div>
</div>