{{#ifAdmin}}
    <div class="actions">
        <h1>Actions</h1>
        <ul>
            <li><a href="#/users/{{userName}}/edit">Edit Profile</a></li>
            <li><a href="#" class="alert delete_user" data-username="{{userName}}" data-alert="UserDelete">Delete User</a></li>
        </ul>
    </div>
{{/ifAdmin}}
