{{#if permission}}
    <div class="actions">
        <h1>Actions</h1>
        <ul>
            <li><a href="#/users/{{id}}/edit" class="edit_user">Edit Profile</a></li>
            {{#ifAdmin}}
            <li><a href="#" class="alert delete_user" data-id="{{id}}" data-alert="UserDelete">Delete User</a></li>
            {{/ifAdmin}}
        </ul>
    </div>
{{/if}}
