{{#each models}}
    <li data-userName="{{userName}}">
        <img src="/edc/userimage/{{userName}}?size=icon" class="profile"/>
        <a class="fullname">{{fullName}}</a>
        {{#if admin}}
            <span class="tag administrator">Administrator</span>
        {{/if}}
    </li>
{{/each}}
