<button
  type="button"
  class="dialog"
  data-dialog="WorkfilesImport"
  data-workspace-id="{{id}}"
  >
  {{t "actions.import_workfile"}}
</button>

<button
  type="button"
  class="dialog"
  data-dialog="WorkfilesSqlNew"
  data-workspace-id="{{id}}"
  >
  {{t "actions.create_sql_workfile"}}
</button>