<a class="edit_file">{{t "workfile.content_details.edit_file"}}</a>
<a>{{t "workfile.content_details.run_file"}}</a>

<span class="view">
    {{t "workfile.content_details.view"}} 
    <a>{{t "workfile.content_details.activity"}}</a>
</span>

