<ul>
    {{#each models}}
        <li>
            <a href="{{showUrl}}">
                <div class="version_title">{{t "workfile.version_title" versionNum=versionNum}}</div>
                <div class="version_details">{{t "workfile.version_saved_by" authorName=authorName formattedDate=formattedDate}}</div>
                <div class="spacer"></div>
            </a>
        </li>
    {{/each}}
</ul>