<button class="edit_file">{{t "workfile.content_details.edit_file"}}</button>
<button>{{t "workfile.content_details.run_file"}}</button>

<span class="view">
    {{t "workfile.content_details.view"}} 
    <button class="save_as" disabled="disabled">{{t "workfile.content_details.save_as"}}</button>
</span>

