{{#each models}}
    <li data-id="{{id}}">
        <img src="/edc/workspace/{{id}}/image?size=icon"/>
        <a class="name">{{name}}</a>
        {{#if isPublic}}
            <span class="public tag">{{t "workspaces.public"}}</span>
        {{/if}}
    </li>
{{/each}}
