<div class="shuttle" />


<div class="controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99">{{t "actions.save_changes"}}</button>
</div>