<button>{{t "workfile.content_details.run_file"}}</button>

<div class="save">
    <span class="auto_save hidden"></span>
    <span class="view">
        {{t "workfile.content_details.view"}}
        <button class="save_as">{{t "workfile.content_details.save_as"}}</button>
    </span>
</div>

