<div class='actions'>
<h1>{{name}}</h1>
<ul>
    <li><a class="dialog" href="#" data-entity-id="{{id}}" data-entity-type="workspace" data-dialog="NotesNew">{{t "actions.add_note"}}</a></li>
</ul>
</div>