{{> errorDiv }}
<form action="/edc/workspace/" class="new_workspace">
    <label for="name">Workspace Name</label>
    <input type="text" name="name"></input>
    <input type="checkbox" name="isPublic"></input><label for="isPublic">Make This Workspace Public</label>


    <div class="controls">
        <button class="submit">Create Workspace</button>

    </div>
</form>

