@import "../_common.scss";

.errors, .sql_errors, .dataset_errors {
    @include after-clearfix;
    background-color: $error-background-color;
    vertical-align: middle;
    font-weight: normal;
    line-height: 16px;

    ul {
        float: left;
        text-align: left;
        max-width: 85%;
        
        li {
            padding: 10px 10px 10px 16px;
            color: $error-color;
            font-size: 14px;

        }
    }

    .action {
        font-weight: normal;
        display: inline-block;
        float: right;
        margin: 0 10px;
        font-size: 14px;
        color: white;
        border-bottom: 1px dotted white;
        padding-top: 10px;
    }
}

input.has_error, textarea.has_error {
    border: 2px solid $error-background-color;
    background-image: url("/images/error-exclamation.png");
    background-repeat: no-repeat;
    background-position: 99%;
    padding-right: 20px;

}

.cleditorMain.has_error {
    border: 2px solid $error-background-color !important;
    background-image: url("/images/error-exclamation.png");
    background-repeat: no-repeat;
    background-position: 99%;
    padding-right: 20px;

    iframe body {
        margin-right: 20px;
    }
}

.error_detail {
    background: red;
    color: white;
}

.ie9, .ie8, .ie7, .ie6 {
    textarea.has_error {
        background-position: 93%;
    }
}