.results_console {
    .execution {
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
        padding: 0 $padding-x;
        border-bottom: 1px solid $guts-border-color;

        h1 {
            @include results-console;
            display: inline-block;
            padding-right: $padding-x;
        }

        a {
            font-size: 12px;
            font-weight: $semibold;
        }

        .controls {
            float: right;

            .separator {
                margin: 0 5px;
            }
            &.collapsed {
                .separator {
                    display: none;
                }
            }
        }
        
        .right {
            float: right;

            .message {
                @include results-console-message;
            }

            .execution_info {
                display: none;

                .elapsed_time {
                    @include results-console-message;
                }

                .loading {
                    @include results-console-message;
                    border-right: 1px solid $results-console-border-color;
                    padding-right: $padding-x;
                    margin-left: 25px;
                    display: inline-block;

                    div[aria-role=progressbar] {
                        left: -65px;
                        top: 5px;
                        display: inline;
                    }
                }

                .link {
                    padding-left: $padding-x;

                    a {
                        font-weight: normal;
                    }
                }
            }

            &.executing {
                .message {
                    display: none;
                }

                .execution_info {
                    display: inline;
                }
            }
        }
    }

    .actions {
        color: white;
        float: right;
        
        a {
            float: none;
        }
    }

    .bottom_gutter {
        background: white;
        height: 20px;
        text-align: center;
        vertical-align: top;
        border-top: 1px solid $list-border-color;
        line-height: 16px;
    }

    .expander_button {
        cursor: pointer;
        background: $body-background-color;
        width: 30px;
        height: 15px;

        display: inline-block;

        border: 1px solid $list-border-color;
        border-top: none;
        margin-top: -4px;

        text-align: center;
        vertical-align: middle;

        .arrow {
            display: inline-block;
            margin-bottom: 2px;
        }

        .up {
            width:0px;
            height:0px;
            border-left:5px solid transparent;  /* left arrow slant */
            border-right:5px solid transparent; /* right arrow slant */
            border-bottom:5px solid $color-text4; /* bottom, add background color here */
            font-size:0px;
            line-height:0px;
        }

        .down {
            width:0px;
            height:0px;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid $color-text4;
            font-size:0px;
            line-height:0px;
        }
    }

    .minimized .data_table {
        height: 200px;
        width: 100%;
    }

    .collapsed .data_table {
        height: 0px;
        width: 0px;
    }

    .maximized .data_table {
        height: 500px;
        width: 100%;
    }
}
