.run_file_in_schema {
	.sandbox_schema {
		padding-left: 15px;

		label {
			@include font-menu;
		}

		.name {
			@include font-normal-beta;
			padding: 5px 0 5px 22px;
		}
	}

	.another_schema {
		padding-top: $padding-y;

		&.collapsed {
	        >div {
	            display: none;
	        }

	        border: none;
	    }

	}

	.modal_controls {
		margin-top : 15px;
	}

	.schema_picker {
		padding: 0 20px;
	}
}