@import "../_common.scss";

.workfile_list_sidebar, .workfile_show_sidebar {
    .info {
        .fileName {
            @include ellipsis;
            @include heading-sidebar;
        }

        .updated {
            color: $color-text4;
            font-size: 12px;
            margin-top: 5px;
        }

        .fileName {
            margin-bottom: 10px;
        }
    }
}


.workfile_list_sidebar {
    .info {
        margin-bottom: 20px;
    }

    html.ie8 & {
        button {
            font-size : 15px;
        }

    }
}

.workfile_show_sidebar {
    .info {
        margin: 5px 0 20px 0;
    }

    .display_title {
        @include font-content-details;
    }

    .version_list {
        font-size: 12px;
        margin-left: 3px;
        span {
            color : $link-color;
            border-bottom: 1px dotted $link-color;
            color: $link-color;
        }

        img {
           margin: 2px;
        }
    }

    .schema_name {
        @include font-content-details;
        margin: 4px 0 15px 20px;
    }

    .none_found {
            @include font-normal-beta;
    }

    .schema_functions {
        li {
            &:first-child {
                border-top: $dotted-list-item-border;
                margin-top: -1px;
            }
            &:last-child {
                border-bottom: $dotted-list-item-border;
            }

            @include list-section-heading;
            background: url('/images/function.png') no-repeat left center;
            padding: 0 0 0 29px;
            height: 28px;
            line-height: 28px;

            &:hover {
                margin-top: -1px;
                background-color: $selected-row-hover-background-color;
                border-top: 1px solid $list-border-color;
                border-bottom: 1px solid $list-border-color;
            }
            .insert_hover {
                z-index: 100;
                background-color: $selected-row-hover-background-color;
                position: absolute;
                right: 100%;
                display: inline_block;
                top: -1px;


                $arrow-height: 30px;
               .arrow_left {
                    width: 0;
                    height: 0;
                    border-top: $arrow-height/2 solid transparent;
                    border-bottom: $arrow-height/2 solid transparent;
                    border-right: $arrow-height/2 solid $list-border-color;
                    position:relative;
                    right: 100%;
                    position: absolute
                }

                $arrow-filling-height: 28px;
                .arrow_left_filling{
                    content:'';
                    position:absolute;
                    right: 100%;
                    top: 1px;
                    width: 0;
                    height: 0;
                    border-top: $arrow-filling-height/2 solid transparent;
                    border-bottom: $arrow-filling-height/2 solid transparent;
                    border-right: $arrow-filling-height/2 solid $selected-row-hover-background-color;
                }


                .insert_link {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: $semibold;
                    padding-right: 20px;
                    border: 1px solid $list-border-color;
                    border-right: none;
                    border-left: none;
                }
            }
       }
    }

    .schema_metadata_list {
        li {
            height: 29px;
            padding-top: 0px;
            padding-bottom: 0px;

            img {
                margin-top: 2px;
                display: inline-block;
                vertical-align: middle;
            }
            .name {
                margin-top: 2px;
                font-size: 14px;
                font-weight: $semibold;
                display: inline-block;
                @include ellipsis;
                max-width: 75%;
                vertical-align: middle;
                line-height: 14px;
            }
        }
    }
}

.workfile_version_list {
    li {
        a {
            padding-top: 10px;
            display: inline-block;
        }

        &:first-child a {
            /* qtip has some top padding already */
            padding-top: 6px;
        }

        &:last-child .spacer {
            border-bottom: none;
        }

        &:hover {
            .version_title {
                text-decoration: underline;
            }
        }

        img {
            display: inline-block;
            vertical-align: top;
        }

        .version_info {
            display: inline-block;
            width: 80%;
        }

        .version_title {
            @include font-menu;
        }

        .version_details {
            margin-top: 2px;
            @include secondary-text-small;
            padding-bottom: 10px;
        }

        .spacer {
            border-bottom: $dotted-list-item-border;
        }
    }
}
