@import "../_common.scss";

.workfile_list_sidebar, .workfile_show_sidebar {
    .info {
        .fileName {
            @include ellipsis;
            @include heading-sidebar;
        }

        .updated {
            color: $weak-text-color;
            font-size: 12px;
        }
    }
}


.workfile_list_sidebar {
    .info {
        margin-bottom: 20px;
    }

    html.ie8 & {
        button {
            font-size : 15px;
        }

    }
}

.workfile_show_sidebar {
    .info {
        margin: 5px 0 20px 0;
    }
}