@import "_common.scss";

$image-height : 48px;
$image-width: 48px;

.workfiles_import {
    .details {
        img, span, label, input[type=file] {
            display: inline-block;
        }

        img {
            vertical-align: middle;
        }
    }

    div.comment {
        margin-left: $image-width;
    }

    .errors {
        width: 100%;
    }

    div[aria-role=progressbar] {
        top: 7px;
        left: 17px;
        display: inline;
    }

    label {
        text-align: right;
    }

    label, input[type=file] {
        color: $link-color;
        &:hover {
            cursor : pointer;
        }
    }

    .fileName {
        color: $secondary-text-color;
        font-size: 15px;
        vertical-align: middle;
        line-height: $image-height;
    }


    .expanded {
        padding-right: 35px;
    }
}
