@import "_common.scss";

ul.workfile_list {
    .comment_info {
        color: $weak-text-color;
    }
    .comment {
        .body {
            @include font-normal-alpha;
        }

        .user {
            color: $weak-link-color;
            font-size: 13px;
            font-weight: $semibold;
        }

        .comment_info {
            font-size: 13px;
        }
    }
}
