session_timeout_minutes: 120
instance_poll_interval_minutes: 5
delete_unimported_csv_files_interval_hours: 6
delete_unimported_csv_files_after_hours: 24
reindex_datasets_interval_hours: 24
csv_import_file_storage_path: ":rails_root/system/"
workfile_storage_path : ":rails_root/system/"
image_storage: ":rails_root/system/"
attachment_storage: ":rails_root/system/"
max_upload_size_megabytes: 100
server_port: 8080
ssl: "off"
ssl_server_port: 8443
ssl_certificate: ""
ssl_certificate_key: ""
timezone_offset: -8

# Configure thread pool size of webserver and worker processes.
#
# The # of webserver threads determines the maximum number of simultaneous web
# requests. The # of worker threads determines the maximum number of
# asychronous jobs, such as table copying or importing, that can be run
# simultaneously.
#
# Each web or worker thread may use its own connection to the local Postgresql
# database, thus the sum of 'worker_threads' + 'webserver_threads' must be less
# than the 'max_connections' configured in postgresql.conf.
#
# The 'max_connections' parameter may be based on your operating system's kernel
# shared memory size. For example, on OS X this parameter will default to 20.

worker_threads: 10
webserver_threads: 20

file_sizes_mb:
  workfiles: 10
  csv_imports: 10
  user_icon: 5
  workspace_icon: 5
  note_attachment: 10
  max_upload_size_megabytes: 100

gpfdist:
  ssl: false
  url: "localhost"
  write_port: 8180
  read_port: 8181
  data_dir: "/tmp"

ldap:
  host: 10.32.88.212
  enable: false
  port: 389
  connect_timeout: 10000
  bind_timeout: 10000
  search:
    timeout: 20000
    size_limit: 200
  base: DC=greenplum,DC=com
  user_dn: greenplum\chorus
  password: secret
  dn_template: greenplum\{0}
  attribute:
    uid: sAMAccountName
    ou: department
    gn: givenName
    sn: sn
    cn: cn
    mail: mail
    title: title