default: &default
  adapter: jdbcpostgresql
  encoding: unicode
  username: edcadmin
  password:
  port: 8543
  min_messages: warning
  host: 127.0.0.1

production:
  database: chorus_2_2_production
  <<: *default

legacy:
  database: chorus
  <<: *default
