/*<meta />*/

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.p_1
{
	orphans: 2;
	widows: 2;
	margin-bottom: 0pt;
}

p.p_2
{
	orphans: 2;
	widows: 2;
	margin-bottom: 0pt;
	font-family: Arial;
}

p.p_3
{
	orphans: 2;
	widows: 2;
	margin-bottom: 0pt;
	margin-left: 138pt;
	font-family: Arial;
}

p.p_4
{
	orphans: 2;
	widows: 2;
	margin-bottom: 0pt;
	margin-left: 6pt;
	font-family: Arial;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_3
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_4
{
	border-top-style: none;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_5
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_6
{
	border-top-style: none;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_7
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: black;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

table.table_1
{
	margin-left: 5pt;
	border-collapse: collapse;
}

td.td_8
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: black;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_9
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: black;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: black;
	vertical-align: bottom;
	padding-left: 0pt;
	padding-right: 0pt;
}

table.table_2
{
	margin-left: 1pt;
	border-collapse: collapse;
}

