@import "../_common.scss";
@import "compass/css3/gradient";

$header-padding : 13px;
$header-item-spacing : 2*$padding-x;

.header {
    height: $header-height;
    @include background-image(linear-gradient(color-stops(#eeeeee, #cccccc)));
    background-color: #eeeeee;
    vertical-align : middle;
    border-bottom: 1px solid $header-border-color;
    line-height: $header-height;
    vertical-align: middle;

    html.ie8 & { background-color: $ie-header-color }

    > div {
        vertical-align: middle;

        > div {
            display : inline-block;
        }
    }

    .left {
        float : left;

        .logo {
    	    padding: 0 14px;

            a {
                img {
                    vertical-align: middle;
                    padding: 1px 4px 0 0;
                }
            }
        }
    }

    .messages {
        @include font-menu;
        height: 22px;
        margin-right: $header-item-spacing;

        .notifications {
            display: block;
            @include border-radius(2px);
            height: 18px;
            padding: 4px 7px 0 7px;
            background: $alert-background-color;
            text-align: center;
            margin-left: 8px;
            min-width: 7px;

            a {
                color: white;
            }
        }
    }


    .search {
        overflow: hidden;
        padding: 0 0 0 $header-item-spacing;
        border-left: 1px solid $header-border-color;
        margin: 12px 0 0 0;

        input {
            padding: 4px;
            height: 26px;
            line-height: 26px;

             html.ie8 & { height: 17px; }
        }
    }

    .right {
        position: relative;
        float: right;
        width : $sidebar-width + $padding-x;
        text-align : right;
        .username {
            border-right: 1px solid $header-border-color;

            a {
                span {
                    @include ellipsis;
                    max-width: 100px;
                }
            }
        }

        .username, .account {
            padding: 0 $header-item-spacing;
            display: inline-block;
            font-size: 12px;
            text-align: right;
            height: 22px;
            line-height: 22px;

            a {
                color: inherit;
                img {
                    padding: 0 0 3px 10px;
                }

                span {
                        display: inline-block;
                        vertical-align: middle;
                }
            }
        }

        .menu {
            line-height: 24px;
        }

        .menu.popup_username {
            right: 60px;
            top: 42px;
        }

        .menu.popup_account {
            right: 10px;
            top: 42px;

            .pointer {
                right: 17px;
                left: auto;
            }
        }
    }
}
