@import "../_common.scss";

.list {
    position: relative;

    li {
        padding: $padding-y 0;
        border-bottom: $dotted-list-item-border;
        margin: 0 $padding-x;
        position: relative;
        @include after-clearfix;

        &.selected {
            background: white;

            .spacer {
                background: white;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .spacer {
            position: absolute;
            top: 0;
            bottom: 0;
            width: $padding-x;

            &.left  { left: -$padding-x; }
            &.right { right: -$padding-x; }
        }

        a.image {
            display: block;
            float: left;
        }

        div.text {
            vertical-align: top;
            line-height: 19px;
            overflow:hidden;
            _overflow:visible;
            zoom:1;
            padding-left: $padding-x;

            .summary {
                padding-bottom: 15px;
            }
        }

        div.details {
            font-size: 13px;
            position: absolute;
            bottom: 0;
        }

        div.summary {
            color: $weak-text-color;
            font-size: 14px;
        }

        .name span {
            max-width: none;
        }

        * {
            vertical-align: top
        }

        .name {
            font-size: 18px;
            line-height: 19px;

            span {
                display: inline-block;
                @include ellipsis;
                max-width: 68%;
            }
        }

        .tag {
            float: right;
            line-height: 20px;
            vertical-align: middle;
            display: inline-block;

            .name {
                color: white;
                font-size: 12px;
                line-height: 12px;
                font-weight: $semibold;
                padding: 4px 7px 4px 2px;
                display: inline-block;
                @include border-right-radius(2px);
            }

            .arrow_left {
                display: inline-block;
                width:0px;
                height:0px;
                border-bottom:10px solid transparent;  /* left arrow slant */
                border-top:10px solid transparent; /* right arrow slant */
                border-right-width: 10px;
                border-right-style: solid;
                font-size:0px;
                line-height:0px;
            }
        }

        .timestamp {
            font-size: 12px;
            font-style: italic;
        }
    }
}
