@import "../_common.scss";

.list {
    position: relative;

    li {
        padding: $padding-y 0;
        border-bottom: $dotted-list-item-border;
        margin: 0 $padding-x;
        position: relative;
        @include after-clearfix;

        &.selected {
            background: white;

            .spacer {
                background: white;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .spacer {
            position: absolute;
            top: 0;
            bottom: 0;
            width: $padding-x;

            &.left  { left: -$padding-x; }
            &.right { right: -$padding-x; }
        }

        .image {
            display: block;
            float: left;
        }

        div.text {
            vertical-align: top;
            line-height: 21px;
            overflow:hidden;
            _overflow:visible;
            zoom:1;
            padding-left: $padding-x;

            .summary {
                padding-bottom: 15px;
            }
        }

        div.details {
            font-size: 13px;
            position: absolute;
            bottom: 0;
        }

        div.summary {
            color: $color-text4;
            font-size: 14px;
        }

        .name span {
            max-width: none;
        }

        * {
            vertical-align: top
        }

        .name {
            font-size: 18px;
            line-height: 21px;

            span {
                display: inline-block;
                @include ellipsis;
                max-width: 68%;
            }
        }

        .tag {
            float: right;
        }

        .timestamp {
            font-size: 12px;
            font-style: italic;
        }
    }
}
