@import "../_common.scss";

$link-padding: 15px;

.list_content_details {
    width: 100%;
    overflow: hidden;

    div {
        display: inline;
    }

    .pagination {
        float: right;

        .links {
            padding-left: $link-padding;

            .next, .previous {
                font-size: 12px;
                padding: 4px $link-padding;
            }

            .next {
                border-left: 1px solid $weak-header-border-color;
                padding-right: $link-padding - $padding-x;
            }

            a {
                cursor: pointer;

                span {
                    color: $link-color;
                    border-bottom: 1px dotted $link-color;
                }
            }
        }
    }

    .multiselect {
        a {
            @include link-with-dotted-underline;
        }

        .select {
            padding-right: 3px;
        }

        .separator {
            padding: 0 3px;
            color: $link-color;
        }
    }

    button, .button {
        @include font-content-details;
        @include content-details-button($border-color);
    }

    img.help {
        vertical-align: middle;
        margin-left: 4px;
    }

    input.search {
        display: inline-block;
    }

    .explore {
        margin-left: 8px;
    }

    .chorus_search_container {
        width: 40%;
        margin: 0 8px;
        display: inline-block;
    }
}

#page[data-page=DatasetIndex] {
    .content_details {
        padding: 0;
        height: auto;

        .provisioning_bar, .provisioning_fault_bar {
            padding: 0 10px;
            line-height: 31px;
            width: 100%;
            display: block;
            @include results-console-message;
            @include borderbox;

            .actions {
                float: right;

                a {
                    @include font-content-details;
                }
            }
        }

        .provisioning_bar {
            background-image: url("/images/binary_workfile_action_bar_tile.png");
        }

        .provisioning_fault_bar {
            .actions {
                a {
                    color: $error-color;
                }
            }

            color: $error-color;
            background-color: $error-background-color;
        }

        button.dialog {
            margin-left: 10px;
        }
    }
}