@import "../_common.scss";

#sidebar {
    width: $sidebar-width;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    .spacer {
        height: $breadcrumbs-height + $padding-y;
    }

    .image {
        padding-bottom: 16px;
        text-align: center;
    }

    .actions {
        h1 {
            @include ellipsis;
            @include heading-sidebar;
            margin-bottom: 10px;
        }

        a, .disabled {
            font-size: 12px;
            font-weight: $semibold;
        }

        .disabled {
            color: $color-text4;
        }

        li {
            padding-bottom: 8px;
            margin-left: 10px;
        }
    }


    img {
        max-width: $sidebar-width - 20px;
    }

    .members{

        li {
            display: inline-block;
            vertical-align: middle;
            height: $icon-image-height + 6px;
            padding-bottom: 3px;
        }

        img{
            width: $icon-image-width;
            height: $icon-image-height;
        }

        .dialog {
            font-size: 12px;
            font-weight: $semibold;
            margin-left: 10px;
        }
    }

}