@import "../_common.scss";

#sidebar {
    width: $sidebar-width;
    overflow: hidden;
    height: 100%;

    .image {
        padding-bottom: 16px;
        text-align: center;
    }

    .actions {
        h1 {
            @include ellipsis;
            @include heading-sidebar;
            margin-bottom: 10px;
        }

        a {
            font-size: 12px;
            font-weight: $semibold;
        }

        li {
            padding-bottom: 8px;
            margin-left: 10px;
        }
    }


    img {
        max-width: $sidebar-width - 20px;
    }

    .members{

        li {
            display: inline-block;
            vertical-align: middle;
            height: $icon-image-height + 6px;
            padding-bottom: 3px;
        }

        img{
            width: $icon-image-width;
            height: $icon-image-height;
        }

        .dialog {
            font-size: 12px;
            font-weight: $semibold;
            margin-left: 10px;
        }
    }

}