@import "../_common.scss";

.controls {
    margin-top: 25px;

    button {
        float: right;
        margin-left: 14px;

        div[aria-role=progressbar] {
            top: 7px;
            left: 17px;
            display: inline;
            > group {
                /* Position fixes for IE8 VML fallback */
                position: absolute;
                bottom: 7px;
                left: 0px;
            }
        }

        &.is_loading {
            padding-right: 35px;
        }
    }

    label {
        line-height: $button-height;

        &.required:after {
          margin-right: 4px;
        }
    }

    @include after-clearfix;
}

