@import "../_common.scss";

.errors {
    @include after-clearfix;
    background-color: $error-background-color;
    vertical-align: middle;

    ul {
        float: left;
        text-align: left;
        max-width: 85%;
        
        li {
            padding: 10px 10px 10px 16px;
            color: $error-color;
            font-size: 14px;
        }
    }

    .action {
        display: inline-block;
        float: right;
        margin: 0 10px;
        font-size: 14px;
        color: white;
        border-bottom: 1px dotted white;
        padding-top: 10px;
    }
}

input.has_error, textarea.has_error {
    border: 2px solid $error-background-color;
    background-image: url("/images/error-exclamation.png");
    background-repeat: no-repeat;
    background-position: 99%;
    padding-right: 20px;
}

.error_detail {
    background: red;
    color: white;
}