/*
    See http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ for explanation re: local('☺')
*/

@font-face {
	font-family: 'Myriad Pro';
	src: url('/fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('/fonts/MyriadPro-Regular.woff') format('woff'), url('/fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('/fonts/MyriadPro-Semibold.eot');
	src: local('☺'), url('fonts/MyriadPro-Semibold.woff') format('woff'), url('/fonts/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('/fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('/fonts/MyriadPro-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}


