@font-face {
	font-family: 'Mentone';
	font-weight: 400;
	font-style: normal;
    src: url('/fonts/mentone-lig-webfont.eot');
    src: local("☺"), url("/fonts/mentone-lig-webfont.woff") format("woff"), url("/fonts/mentone-lig-webfont.ttf") format("truetype");
}

@font-face {
	font-family: 'Mentone';
	font-weight: 600;
	font-style: normal;
    src: url('/fonts/mentone-semibol-webfont');
    src: local("☺"), url("/fonts/mentone-semibol-webfont.woff") format("woff"), url("/fonts/mentone-semibol-webfont.ttf") format("truetype");
}
