@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
    src: url('/fonts/OpenSans-Regular.eot');
    src: local("☺"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
    src: url('/fonts/OpenSans-Semibold.eot');
    src: local("☺"), url("/fonts/OpenSans-Semibold.woff") format("woff"), url("/fonts/OpenSans-Semibold.ttf") format("truetype");
}
