<!DOCTYPE html>

<html>
    <header>
        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag "application.js" %>
        <script type="text/javascript">
          chorus.initialize();
        </script>
    </header>
    <body>

    </body>
</html>