<form>
    <div class="input">
        <input type="password" name="password" maxlength="256" placeholder="{{t "users.password"}}" tabindex="1"/>
        <input type="password" name="passwordConfirmation" maxlength="256" placeholder="{{t "users.confirm_password"}}" tabindex="2"/>
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex=3>{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex=2>{{t "change_password.button.change_password"}}</button>
    </div>
</form>
