<div class="gradient_top"></div>
<div class="filter_content">
    <a href="#" class="add_filter">{{t "dataset.filter.add_filter"}}</a>
    <h1 class="filter_title">{{t "dataset.filter.title"}}</h1>
    <ul class="filters"></ul>
</div>
<div class="gradient_bottom"></div>
