{{#each models}}
    <li class="database">
        <span class="spacer_left"/>
        <img src="/images/instances/greenplum_database.png"/>
        <a class="name" href="{{showUrl}}">{{name}}</a>
        <span class="spacer_right"/>
    </li>
{{/each}}