<div class="specify">
    <input type="radio" name="row_select" id="specify_rows" checked="checked"/>
    <input name="rows" type="text" value="100"/>
    <label for="specify_rows">{{t "dataset.download.specify_rows"}}</label>
</div>

<div class="all">
    <input type="radio" name="row_select" id="all_rows"/>
    <label for="all_rows">{{t "dataset.download.all_rows"}}</label>
</div>

<div class="modal_controls">
    <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex="99">{{t "actions.download"}}</button>
</div>
