<div class="gradient_top"></div>
<div class="filter_content">
    <a href="#" class="add_filter">{{t "filter.add_filter"}}</a>
    <h1 class="filter_title">{{title}}}</h1>
    <ul class="filters"></ul>
</div>
{{extraContent}}
<div class="gradient_bottom"></div>
