{{#if description}}
    <span class="description">
        {{t "schema.functions.description"}}
        {{description}}
    </span>
    <br />
    <br />
{{/if}}

<span class="definition">
    {{t "schema.functions.definition"}}
    {{definition}}
</span>