<div class="spinner_container">
    <img  class="hidden" {{#if hasImage}}src="{{imageUrl}}" {{/if}}/>
</div>
<div class="file-wrapper">
    {{#if editable}}
        <a class="action">{{#if hasImage}}{{t changeImageKey}}{{else}}{{t addImageKey}}{{/if}}</a>
    {{/if}}
    <input id="image_upload_input" type="file"
           {{#unless editable}}
                disabled="disabled"
           {{/unless}}
            />
</div>
