<div class="brackets">
    <div class="brackets_top"></div>
    <div class="brackets_bottom"></div>
</div>

<div class="column_filter"></div>

<select class="comparator"/>

<span class="filter default hidden">
    <input class="validatable" name="value" type="text"/>
</span>

<span class="filter competition_type select_type hidden">
    <select class="validatable" name="value"/>
</span>

<a href="#" class="remove"><img src="/images/remove_icon.png"/></a>
