<form action="#">
    <div class="input">
        <input type="text" name="objectName" placeholder='{{t "dataset.name_chorus_view.placeholder"}}' tabindex="1" maxlength="64" value="{{objectName}}"></input>
    </div>

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex="100">{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" tabindex="99">{{t "dataset.name_chorus_view.create"}}</button>
    </div>
</form>