{{> errorDiv }}
<div class="picklist"/>
<div class="modal_controls">
    <button type="button" class="cancel" tabindex=4>{{t "actions.cancel"}}</button>
    <button type="button" class="submit" disabled="disabled" tabindex=3>{{buttonTitle}}</button>
</div>
