<div class="target_location">
    Publish a workbook for this dataset in the default Tableau project.
</div>

<input id="create_database_view_name" value="{{name}}" type="text" name="name" tabindex="1" maxlength="64"/>


<div class="modal_controls">
    <button type="button" class="cancel" tabindex=2>{{t "actions.cancel"}}</button>
    <button type="button" class="submit" tabindex=2>{{t "actions.publish_to_tableau"}}</button>
</div>