<div class="schema_picker"></div>
<div class="modal_controls">
    <button type="button" class="cancel" tabindex=2>{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" disabled="disabled" tabindex=1>{{t "schema_browser_dialog.show_datasets"}}</button>
</div>
