<div class="spacer_left"></div>
<img class="icon" src="{{iconUrl}}"></img>
<div class="description">
    <a class="name" href="{{downloadUrl}}">{{displaySearchMatch "name"}}</a>
    <span class="found_in">{{composedLinkString}}</span>
</div>
<div class="spacer_right"></div>
