{{#if loaded}}
    <div class="styled_text">
        <div class="original">{{text}}</div>
    </div>
    <div class="links">
        <a class="more" href="#">{{t "truncated_text.more"}}</a>
        <a class="less" href="#">{{t "truncated_text.less"}}</a>
    </div>
{{/if}}
