<form action="">
    <input type="text" name="fileName" placeholder="Name" tabindex="1" maxlength="60"></input>.sql

    <div class="modal_controls">
        <button type="button" class="cancel" tabindex=4>{{t "actions.cancel"}}</button>
        <button type="submit" class="submit" disabled="disabled" tabindex=3>{{t "workfiles.button.sql_create"}}</button>
    </div>
</form>

