{{#if canEdit}}
    <div class="save">
        <span class="auto_save hidden"></span>
        <span class="view">
            {{t "workfile.content_details.view"}}
            <button class="save_file_as">{{t "workfile.content_details.save_file_as"}}<span class="down_arrow"/></button>
            <button class="save_selection_as hidden">{{t "workfile.content_details.save_selection_as"}}<span class="down_arrow"/></button>
        </span>
    </div>
{{/if}}

