/*
 *= require base
 *= require dashboard
 *= require error
 *= require gnip
 *= require hdfs
 *= require instances
 *= require jasmine
 *= require kaggle
 *= require layout
 *= require login
 *= require modals
 *= require search_results
 *= require style_guide
 *= require dataset
 *= require users
 *= require visualizations
 *= require widgets
 *= require workfiles
 *= require workspaces
 */