.kaggle_header {
    .summary {
        @include font-normal-delta;
        width: 75%;
        margin-bottom: 10px;
    }

    img {
        height: 50px;
        width: 150px;
    }
}

.kaggle_user_list {
    .name {
        color: $color-text2;
    }
}