@import "_common.scss";
@import "compass/css3/border-radius";

.kaggle_header {
    .summary {
        @include font-normal-delta;
        width: 75%;
        margin-bottom: 10px;
    }

    img {
        height: 50px;
        width: 150px;
    }
}

.kaggle_user_list {
    .name {
        color: $color-text2;
    }

    img.profile {
        display: block;
        float: left;
        width: $icon-image-width;
        height: $icon-image-height;
    }

    .kaggle_rank {
        background-color: $color-text3;
        color: white;
        padding: 0 5px;
        @include border-radius(3px);
        margin-right: 5px;
    }
}