@import "_common.scss";
@import "compass/css3/border-radius";

.kaggle_header {
    .summary {
        @include font-normal-delta;
        margin-bottom: 10px;
    }

    img {
        height: 50px;
        width: 150px;
    }
}

.kaggle_user_list {

    .content_details {
        height: auto;
        padding: 0;

      .count {
        margin-left: 10px;
        display: inline-block;
      }

      .search_kaggle_user {
          margin-left: 20px;
          /* need to override the content-details style*/
          @include border-radius(0px);
          border: 1px solid $border-color;
          background: white;
          color: $link-color;
          display: inline-block;
          float: none;
          &.is_loading {
              color: $color-text4;
          }
          font-size: 16px;
          font-weight: normal;
      }
    }

    .name {
        color: $color-text2;
    }

    .image {
        text-align: center;
        width: 70px;
    }

    img.profile {
        max-width: 64px;
        max-height: 64px;
    }

    .kaggle_rank {
        background-color: $color-text3;
        color: white;
        padding: 0 5px;
        @include border-radius(3px);
        margin-right: 5px;
    }

    input[type=checkbox] {
      float: left;
      margin-top: 28px;
      margin-right: 10px;
    }

    .kaggle_filter {
        .comparator {
            width: 215px;
        }
    }
}

.kaggle_compose_kaggle_message_dialog {
  width: 735px;
  font-size: 13px;

  form > div {
    margin: 0 0 20px 0;
  }

  input, textarea {
    font-size: 13px;
  }

  textarea {
    height: 288px;
  }

  .inline-field {
    label {
      display: inline-block;
      width: 80px;
    }

    input {
      display: inline-block;
      width: 620px;
      height: 24px;
    }
  }
}

#sidebar .kaggle_information .pairs {
  .past_competition_types, .favorite_software, .favorite_technique {
    .key {
      width: 100%;
      margin-bottom: 5px;
    }
    .value {
      width: 100%;
      padding-left: 10px;
      max-width: 230px;
    }
  }

  .favorite_software, .favorite_technique {
    .value {
        @include not-ellipsis;
        text-align: left;
        padding-bottom: 8px;
    }
  }
}

