@import "_common.scss";

#page {
    min-width: $page-min-width;
}

#guts {
    padding: 0 0 0 $guts-padding;
    @include after-clearfix;
    z-index: $guts-z-index;
}

#left {
    margin-right: $sidebar-width + ($sidebar-padding-x);
}

//hax for position fixed header and sidebar
.logged_in_layout {
    > .header {
        position: fixed;
        width: 100%;
        z-index: $header-z-index;
    }

    > .breadcrumbs {
        padding-top: 50px;
    }

    #sidebar_wrapper {
        position: fixed;
        right: 0;
        top: $header-height;
        bottom: 0;
        padding: 0;
        width: $sidebar-width + ($sidebar-padding-x);

        .jump_to_top {
            div.triangle_up {
                @include triangle(up, black, 10px, 5px);
                font-size: 0px;
                margin: 2px auto 0;
            }

            background: #AAA;
            height: 10px;
            line-height: 10px;
            width: 100%;
            @include opacity(0);
            position: absolute;
            top: 0px;
            vertical-align: middle;
            &.clickable {
                @include opacity(0.5);
                &:hover {
                    @include opacity(1);
                }
            }
        }
    }
}