production:
  adapter: jdbcpostgresql
  encoding: unicode
  database: chorus_rails_production
  username: postgres_chorus
  password: PASSWORD
  min_messages: warning
  host: 127.0.0.1
  port: 8543
  pool: 20
