production:
  adapter: jdbcpostgresql
  encoding: unicode
  database: chorus_production
  username: postgres_chorus
  password: PASSWORD
  min_messages: warning
  host: 127.0.0.1
  port: 8543

legacy:
  adapter: jdbcpostgresql
  encoding: unicode
  database: chorus_legacy
  username: postgres_chorus
  password: PASSWORD
  min_messages: warning
  host: 127.0.0.1
  port: 8543
