#!/bin/bash

: ${RAILS_ENV?"Need to set RAILS_ENV"}

STARTING_DIR=$(pwd)
SCRIPT_DIR=$(dirname $0)
cd $STARTING_DIR/$SCRIPT_DIR
CHORUS_HOME=$(pwd)
CHORUS_CURRENT=$CHORUS_HOME/current
CHORUS_LOG=$CHORUS_HOME/current/log
CHORUS_PID=$CHORUS_HOME/current/tmp/pids
CHORUS_NGINX=$CHORUS_HOME/nginx_dist

SOLR_ATTEMPTS=200

CLOCK_PID_FILE=$CHORUS_PID/clock.$RAILS_ENV.pid
WORKER_PID_FILE=$CHORUS_PID/queue_classic.$RAILS_ENV.pid
NGINX_PID_FILE=$CHORUS_NGINX/nginx_data/logs/nginx.pid

function start_worker () {
  echo "Starting worker..."
  cd $CHORUS_CURRENT
  bin/ruby script/rails runner "require 'queue_classic'; QC::Worker.new.start" > $CHORUS_LOG/queue_classic.$RAILS_ENV.log 2>&1 &
  echo $! > $WORKER_PID_FILE
}

function start_clock () {
  echo "Starting clock..."
  cd $CHORUS_CURRENT
  bin/ruby script/clock.rb > $CHORUS_LOG/clock.$RAILS_ENV.log 2>&1 &
  echo $! > $CLOCK_PID_FILE
}

function start_nginx () {
    test ! -e $CHORUS_NGINX && echo "nginx not found, skipping." && return 0

    pushd $CHORUS_NGINX

    if [ -e ./nginx_data/logs/nginx.pid ]
    then
        echo "nginx already running, reloading config"
        ./nginx -s reload
    else
        echo "starting nginx..."
        ./nginx
    fi

    popd
}

function start_solr () {
  echo "Starting solr..."
  cd $CHORUS_CURRENT
  bin/rake services:solr:run > $CHORUS_LOG/solr.$RAILS_ENV.log 2>&1 &

  ps e | grep "solr.*start" | grep -v grep > /dev/null
  child_solr_pid=$?
  attempts=0

  while [ $child_solr_pid -eq 1 -a $attempts -lt $SOLR_ATTEMPTS ]
  do
    sleep 1
    ps aux | grep "solr.*start.jar" | grep -v grep > /dev/null
    child_solr_pid=$?
    let "attempts += 1"
  done

  test $attempts -ge $SOLR_ATTEMPTS && echo "WARNING: Solr didn't start in approx. $SOLR_ATTEMPTS seconds."
}

function start_webserver () {
  echo "Starting webserver..."
  cd $CHORUS_CURRENT
  vendor/jetty/jetty-init start >/dev/null 2>/dev/null &
}

function start () {
  mkdir -p $CHORUS_PID

  start_worker
  start_clock
  start_webserver
  start_solr
  start_nginx
}

function stop () {
  cd $CHORUS_CURRENT

  if [ -e $WORKER_PID_FILE ]
  then
    echo "Stopping worker..."

     # Both are necessary due to qc:work implementation
    cat $WORKER_PID_FILE | xargs kill
    cat $WORKER_PID_FILE | xargs kill

    rm $WORKER_PID_FILE
  else
    echo "worker PID file not found -- aborting."
  fi

  if [ -e $CLOCK_PID_FILE ]
  then
    echo "Stopping clock..."
    cat $CLOCK_PID_FILE | xargs kill
    rm $CLOCK_PID_FILE
  else
    echo "clock PID file not found -- aborting."
  fi

  echo "Stopping solr..."
  ps aux | grep solr | grep -v grep | awk '{print $2}' | xargs kill

  echo "Stopping webserver..."
  $CHORUS_CURRENT/vendor/jetty/jetty-init stop

  echo "Stopping nginx..."
  pushd $CHORUS_NGINX
  ./nginx -s stop
  popd
}

function pid_is_running () {
  test -z "$1" && return 1;

  ps x | grep "^\s*$1\b" > /dev/null
  return $?
}

function monitor () {
  pid_is_running "$(cat $WORKER_PID_FILE 2> /dev/null)"
  worker_pid_present=$?

  # Remember that 1 is FALSE in bash!
  if [ $worker_pid_present -eq 1 ]
  then
    echo "Worker is not running, restarting..."
    start_worker
  else
    echo "Worker is still running..."
  fi

  pid_is_running "$(cat $CLOCK_PID_FILE 2> /dev/null)"
  clock_pid_present=$?

  # Remember that 1 is FALSE in bash!
  if [ $clock_pid_present -eq 1 ]
  then
    echo "Clock is not running, restarting..."
    start_clock
  else
    echo "Clock is still running..."
  fi

  ps x | grep "solr.*start" | grep -v grep > /dev/null
  solr_pid_present=$?

  if [ $solr_pid_present -eq 1 ]
  then
    echo "Solr is not running, restarting..."
    start_solr
  else
    echo "Solr is still running..."
  fi

  ps x | grep vendor/jetty/start.jar | grep -v grep > /dev/null
  jetty_pid_present=$?

  if [ $jetty_pid_present -eq 1 ]
  then
    echo "Jetty is not running, restarting..."
    start_webserver
  else
    echo "Jetty is still running..."
  fi

  pid_is_running "$(cat $NGINX_PID_FILE 2> /dev/null)"
  nginx_pid_present=$?

  if [ $nginx_pid_present -eq 1 ]
  then
    echo "nginx is not running, restarting..."
    start_nginx
  else
    echo "nginx is still running..."
  fi
}

if [ "$1" = "start" ]
then
  echo "starting service"
  monitor
  exit 0
elif [ "$1" = "stop" ]
then
  echo "stopping service"
  stop
  exit 0
elif [ "$1" = "restart" ]
then
  echo "stopping service"
  stop
  echo "starting service"
  monitor
  exit 0
elif [ "$1" = "monitor" ]
then
  echo "monitoring services"
  while true
  do
    monitor
    sleep 10
  done
else
  echo "Usage: $0 <start|stop|restart|monitor>"
fi

