@import "../_common.scss";

$text-padding-y: 4px;
$big-gutter: (2 * $activity-gutter);
$media-gutter: 10px;

$system-action-color: #7C7D7D;

.media, .media > .bd {
    overflow: hidden;
}

.media > .icon {
    float: left;
    margin-right: $activity-gutter;
}

.media > .icon img {
    display: block;
}

.activity_list_header {
    .menus {
        float: right;
        margin-right: 10px;

        .title {
            @include font-content-details;
        }

        a {
            font-size: 12px;
            font-weight: $semibold;
            border-bottom: 1px dotted $link-color;

            &.active {
                color: black;
                border-bottom: none;
            }
        }

        .separator {
            padding: 0 5px;
            position: relative;
            top: 2px;
            color: $link-color;
        }

        .badge {
            display: inline-block;
        }
    }
}

.activity_list {

    .more_activities {
        font-size: 12px;
        padding: $activity-gutter $big-gutter;
    }

    .no_activity {
        @include secondary-text-normal;
        padding: 0 $activity-gutter;
    }
}

.activity_item {
    padding: $activity-gutter;
    position: relative;
    overflow: visible;

    img {
        width: $icon-image-width;
        height: $icon-image-height;
    }

    .insight_ribbon {
        padding: 0;
        position: absolute;
        left: -15px;
        top: -9px;
        z-index: 10;
        line-height: 11px;
        height: 22px;

        .left {
            background: url(/images/ribbons/label_insight1.png) no-repeat;
            width: 6px;
            height: 22px;
            display: inline-block;
        }

        .center {
            @include database-column-type;
            background: url(/images/ribbons/label_insight2.png) repeat-x;
            height: 14px;
            display: inline-block;
            padding: 2px 8px 2px 8px;
            vertical-align: top;
            text-transform: uppercase;
        }

        .right {
            background: url(/images/ribbons/label_insight3.png) no-repeat;
            width: 8px;
            height: 22px;
            display: inline-block;
        }
    }
}

.comment_list {
    .comments {
        background: $shaded-background-color;
    }
}

.activity_content, .comment_content {
    ul.attachments {
        img {
            vertical-align: middle;
        }

        li {
            @include ellipsis;
        }
    }

    .name {
        font-size: 12px;
        font-weight: $semibold;
    }

    .body {
        @include font-normal-beta;
        padding-bottom: $text-padding-y;
        word-wrap: break-word;
    }

    .activity_header, .comment_header {
        word-wrap: break-word;
        @include secondary-text-normal;
        padding-bottom: $text-padding-y;
        .author {
            font-weight: $semibold;
        }
    }

    .actions {
        height: 16px;

        .timestamp {
            @include secondary-text-small;
        }

        a.delete_link {
            @include secondary-text-small;
            display: none;
            border-left: solid 1px;
            padding-left: 5px;
            margin-left: 5px;

            img {
                height: 12px;
                width: 12px;
                margin-bottom: 4px;
                vertical-align: middle;
            }
        }
    }

    .links {
        padding: 4px 0;
        font-size: 12px;
        padding-bottom: $text-padding-y;

        a {
            font-size: 12px;
        }

        .separator {
            position: relative;
            top: -1px;
            color: $link-color;
            margin: 0 2px;
        }
    }

    .promoted_by {
        @include secondary-text-small;
    }
}

.popup_notifications li:hover .activity_content a.delete_link,
li[data-activity-type=NOTE] .activity_content:hover a.delete_link,
li[data-activity-type=INSIGHT_CREATED] .activity_content:hover a.delete_link {
    display: inline;
}

.comment_content:hover a.delete_link {
    display: inline;
}

#sidebar .activity_heading {
    padding: 12px 0;

    @include heading-sidebar;
    color: $color-text2;
    font-size: 16px;
}

.activity_list.workspace_detail, .activity_list.dashboard {
    .comments {
        margin-left: ($icon-image-width + (2 * $activity-gutter));
    }

    ul.activities {
        > li {
            border-bottom: 1px dotted $list-border-color;
            padding: 0 $activity-gutter;

            &.insight {
                background: white;
                border-right: 1px dotted $list-border-color;
                border-bottom: 1px dotted $list-border-color;
                .activity_item {
                    padding-top: 12px;
                }
            }
        }
    }
}

.activity_list.dashboard {
    padding-top: $activity-gutter;

    .heading {
        display: none;
    }
}

#sidebar .activity_list {
    li.insight {
        background: white;
        .insight_ribbon {
            left: -5px;
        }
    }
    li[data-activity-type=WORKSPACE_CREATED],
    li[data-activity-type=WORKSPACE_DELETED],
    li[data-activity-type=WORKFILE_CREATED],
    li[data-activity-type=WORKSPACE_MAKE_PRIVATE],
    li[data-activity-type=WORKSPACE_MAKE_PUBLIC],
    li[data-activity-type=WORKSPACE_ARCHIVED],
    li[data-activity-type=WORKSPACE_UNARCHIVED],
    li[data-activity-type=INSTANCE_CREATED],
    li[data-activity-type=USER_ADDED],
    li[data-activity-type=USER_DELETED] {
        .order {
            display: inline;
        }
    }

}

#sidebar {
    &.instance_list_sidebar, &.workfile_show_sidebar {
        .activity_list .heading {
            display: none
        }
    }
}

