.data_table {
    $line-height: 20px;

    overflow: hidden;
    white-space: nowrap;
    position: relative;

    // don't render whitespace that is between DOM elements
    font-size: 0;
    background: #eaeef2;


    .thead {
        position: absolute;
        top: 0;
        left: 0;
    }

    .tbody {
        position: absolute;
        top: $line-height + 1px;
        bottom: 0;
        left: 0;
        right: 0;

        overflow: scroll;
    }

    .column {
        display: inline-block;
        overflow: hidden;
    }

    .td, .th {
        width: 100px;
        line-height: $line-height;
        @include ellipsis;
    }

    .th {
        display: inline-block;
        border-bottom: 1px solid $subheader-border-color-dark;
        @include font-content-details;
    }

    .td {
        border-bottom : $dotted-list-item-border;
        @include font-normal-alpha;
    }

}
