.loading_text {
    position: relative;
    display: inline-block;
    margin-left: $padding-x;
}

.loading_spinner {
    position: absolute;
    right: -10px;
    top: 7px;
    div[aria-role=progressbar] {
        right: 0;
    }
}