.tabbed_area {
    margin-right: 10px;
}
.tab_control {
    margin: 13px 10px 16px 0;
    @include tab-gradient;
    border-bottom: 1px solid $link-color;
    
    li {
        position: relative;
        padding: 0 7px;
        @include list-section-heading;

        display: inline-block;
        color : $link-color;
        line-height: 24px;
        vertical-align: middle;
        cursor: pointer;


        &.selected {
            background-image: none;
            color: white;
            background-color: $link-color;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: -8px;
                background: url("/images/blue_triangle.png") no-repeat bottom center
            }
        }
    }

}
