@import "_common.scss";

.user_list {
    img {
        display: inline;
        width: 32px;
        height: 32px;
    }

    li {
        div.text {
            left: 57px;
        }

        .details span {
            @include font-normal-alpha;
        }
    }
}
